// Color system
//
// Theme colors
$theme-color:           #fd5721;
$main-color:            #85c3ae;

// Body, heading color base
$body-color-base:       #1f2323;
$sub-color-base:        #717171;
$heading-color-base:    #202020;

// Homenet Variables
$theme-light-color:     #ff755a;
$action-color:          #ef4f1c;
$verify-color:          #4be1ab;
$input-field-color:     #f5f7fc;
$input-field-border:    1px solid #d2d7df;
$chat-action-color:     #43abff;
$delete-color:          #f00a2b;
$account-font:          #343e5c;
$info-pg-cell-bg:       #405256;

$speech-shadow:         0px 0px 10px -1px rgba(0, 13, 38, 0.10);
$cell-shadow:           -3px 3px 9px -3px rgba(0, 0, 0, 0.3);
$infobox-shadow:        -4px 4px 18px -3px rgba(0, 0, 0, 0.18);
$pop-up-shadow:         0px 10px 30px 0px rgba(0, 0, 0, 0.5);

 // Homenet Main UI Background Colors - Footer and Navbar
$ui-color-main: #2d2e33;
$ui-color-sub: #2c393c;

// Homenet Content Page White Overlay to Header
$white-overlay-top:     -53px;
$white-overlay-bottom:  53px; 


// Homenet Avatar Color Picker
$taro:                  #a77ca8;
$strawberry:            #d5637e;
$pandan:                #5e9259;
$grape:                 #676799;
$custard:               #e4a153;
$blueberry:             #678d99;
$sweetpotato:           #99679e;
$chocolate:             #937a5c;
$greentea:              #6a9e71;
$raspberry:             #c37892;

// Fonts

// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Montserrat", 'Verdana', 'Avenir', 'Tahoma', sans-serif;
$font-secondary: "Muli", 'Verdana', 'Avenir', 'Tahoma', sans-serif;
$font-zh: "Montserrat", 'Verdana', 'Avenir', "Noto Serif SC", 宋体, SimSun, sans-serif;

$font-size-base:    1rem;
$font-size-lg:      ($font-size-base * 1.125);
$font-size-sm:      ($font-size-base * .75);

$font-weight-100:   100;
$font-weight-200:   200;
$font-weight-300:   300;
$font-weight-400:   400;
$font-weight-500:   500;
$font-weight-600:   600;
$font-weight-700:   700;
$font-weight-800:   800;
$font-weight-900:   900;

$font-weight: ();
$font-weight: map-merge(
  (
    "100": $font-weight-100,
    "200": $font-weight-200,
    "300": $font-weight-300,
    "400": $font-weight-400,
    "500": $font-weight-500,
    "600": $font-weight-600,
    "700": $font-weight-700,
    "800": $font-weight-800,
    "900": $font-weight-900
  ),
  $font-weight
);

$h1-font-size:                          $font-size-base * 2.5;
$h2-font-size:                          $font-size-base * 2;
$h3-font-size:                          $font-size-base * 1.75;
$h4-font-size:                          $font-size-base * 1.5;
$h5-font-size:                          $font-size-base * 1.25;
$h6-font-size:                          $font-size-base;

$h1-font-size-sm:                       $font-size-base * 2;
$h2-font-size-sm:                       $font-size-base * 1.75;
$h3-font-size-sm:                       $font-size-base * 1.5;
$h4-font-size-sm:                       $font-size-base * 1.25;
$h5-font-size-sm:                       $font-size-base;
$h6-font-size-sm:                       $font-size-base * .875;

$headings-font-weight:                  600;
$headings-color:                        $heading-color-base;

$display1-size:                         $font-size-base * 6;
$display1-size-xs:                      $display1-size * .5;
$display1-size-md:                      $display1-size * .75;
$display1-size-xl:                      $display1-size;

$display2-size:                         $font-size-base * 5.5;
$display2-size-xs:                      $display2-size * .5;
$display2-size-md:                      $display2-size * .75;
$display2-size-xl:                      $display2-size;

$display3-size:                         $font-size-base * 4.5;
$display3-size-xs:                      $display3-size * .5;
$display3-size-md:                      $display3-size * .75;
$display3-size-xl:                      $display3-size;

$display4-size:                         $font-size-base * 3.5;
$display4-size-xs:                      $display4-size * .5;
$display4-size-md:                      $display4-size * .75;
$display4-size-xl:                      $display4-size;

$blockquote-font-size:                  $font-size-base * 1.5;
$blockquote-footer-font-size:           $font-size-base * .875;
$blockquote-color:                      $heading-color-base;
$blockquote-line-height:                1.333334;
$blockquote-small-color:                #a1a1a1;
$blockquote-footer-margin:              .625rem;

$mark-bg:                               #f4f6f7;

// Homenet breakpoint variables

/* Points */
$xs: 0px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;

// Color settings

$white:                 #fff;
$black:                 #000;

$white-25:              rgba($white, .25);
$white-50:              rgba($white, .5);
$white-75:              rgba($white, .75);
$black-25:              rgba($black, .25);
$black-50:              rgba($black, .5);
$black-75:              rgba($black, .75);

$blue:                  #3498db;
$indigo:                #2874a6;
$purple:                #8e44ad;
$pink:                  #d98880;
$red:                   #e94b35;
$orange:                #d4ac0d;
$yellow:                #f1c40f;
$green:                 #2ecc71;
$teal:                  #45b39d;
$cyan:                  #85c1e9;
$light-gray:            #f7f9f9;

$facebook:              #2874a6;
$twitter:               #5dade2;
$pinterest:             #b03a2e;
$google-plus:           #e74c3c;
$instagram:             #af7ac5;
$dribbble:              #cd6155;
$youtube:               #cb4335;
$vimeo:                 #85c1e9;
$stumbleupon:           #e67e22;

// Dark viridian shade
$viridian-100:          #2c3e50;
$viridian-200:          #273746;
$viridian-300:          #212f3d;
$viridian-400:          #1c2833;
$viridian-500:          #17202a;

$viridians: ();
$viridians: map-merge(
  (
    "viridian-100":     $viridian-100,
    "viridian-200":     $viridian-200,
    "viridian-300":     $viridian-300,
    "viridian-400":     $viridian-400,
    "viridian-500":     $viridian-500,
  ),
  $viridians
);

$secondary:             $teal;
$light:                 $light-gray;
$dark:                  $viridian-100;

// Extended colors
$colors: (
  "light-gray":         $light-gray,
  "dark-viridian":      $viridian-100,
  "facebook":           $facebook,
  "twitter":            $twitter,
  "pinterest":          $pinterest,
  "google-plus":        $google-plus,
  "instagram":          $instagram,
  "dribbble":           $dribbble,
  "youtube":            $youtube,
  "vimeo":              $vimeo,
  "stumbleupon":        $stumbleupon
);

// Extended theme colors
$theme-colors: (
  "facebook":           $facebook,
  "twitter":            $twitter,
  "pinterest":          $pinterest,
  "google-plus":        $google-plus,
  "instagram":          $instagram,
  "dribbble":           $dribbble,
  "youtube":            $youtube,
  "vimeo":              $vimeo,
  "stumbleupon":        $stumbleupon
);

// Customize theme light text color.
$theme-light-text-color:                $viridian-100;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded-theming:                true;
$enable-rounded-button:                 true;
$enable-rounded-form-input:             true;
$enable-rounded-card:                   true;
$enable-rounded-toasts:                 true;
$enable-shadows-theming:                true;

// Body
//
// Settings for the `<body>` element.
$body-color:                            $body-color-base;

// Links
//
// Style anchor elements.
$link-color:                            $main-color;
$link-hover-color:                      lighten($link-color, 15%);

// Components
//
// Define common padding and border radius sizes transition and more.
$component-active-bg:                   $main-color;

$border-width:                          1px;

$border-radius:                         .25rem;
$border-radius-lg:                      .3125rem;
$border-radius-sm:                      .1875rem;

$transition-duration-base:              .2s;
$transition-timing-base:                ease-in-out;

$hover-fill-opacity:                    1;
$hover-fade-opacity:                    .8;

$hover-overlay-bg:                      rgba($black, .65);
$hover-element-slide:                   -30px;

$box-shadow-sm:                         0 .125rem .3rem rgba($black, .095);
$box-shadow:                            0 .42rem 1.22rem rgba($black, .12);
$box-shadow-md:                         0 .67rem 2.15rem rgba($black, .14);
$box-shadow-lg:                         0 1rem 3.2rem rgba($black, .165);

$circle-border-radius:                  50%;

$gradient-color-top:                    rgba($black, 0);
$gradient-color-bottom:                 rgba($black, .4);
$gradient-location-top:                 0%;
$gradient-location-bottom:              100%;

$caret-size:                            1.2em;

$disabled-opacity:                      .65;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-color:                           $sub-color-base;
$table-cell-padding:                    .875rem;
$table-cell-padding-sm:                 .3125rem .625rem;
$table-active-bg:                       rgba($black, .05);
$table-border-color:                    #e0e0e0;
$table-dark-bg:                         $viridian-500;
$table-light-2-accent-bg:               rgba($white, .1);

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-color:                             $white;
$btn-light-color:                       $viridian-100;
$btn-default-bg:                        #bdc3c7;
$btn-font-size:                         $font-size-base * .75;
$btn-font-size-lg:                      $font-size-base * .875;
$btn-font-size-sm:                      $font-size-base * .6875;
$btn-font-weight:                       $font-weight-600;

$btn-padding-y:                         .625rem;
$btn-padding-x:                         1.625rem;
$btn-line-height:                       1.6;

$btn-padding-y-sm:                      .3125rem;
$btn-padding-x-sm:                      1rem;
$btn-line-height-sm:                    1.5;

$btn-padding-y-lg:                      .9375rem;
$btn-padding-x-lg:                      1.9375rem;
$btn-line-height-lg:                    1.45;

$btn-border-width:                      $border-width * 2;

$btn-round-radius:                      1.3125rem;
$btn-round-radius-lg:                   1.6875rem;
$btn-round-radius-sm:                   .9375rem;

$btn-icon-size:                         $font-size-base * .875;
$btn-icon-size-lg:                      $font-size-base * .9375;
$btn-icon-size-sm:                      $font-size-base * .75;
$btn-icon-mr:                           .5rem;

$btn-icon-only-size:                    42px;
$btn-icon-only-size-lg:                 55px;
$btn-icon-only-size-sm:                 30px;

// Button shadows
$shadow-size-front:                     0 12px 35px -10px;
$shadow-size-mid:                       0 8px 10px -5px;
$shadow-size-back:                      0 4px 25px -2px;
$shadow-size-back-light:                0 8px 25px -2px;
$shadow-size-focus:                     0 1px 9px 0;
$shadow-size-focus-light:               0 1px 10px 0;

$shadow-opacity-front:                  .55;
$shadow-opacity-mid:                    .09;
$shadow-opacity-back:                   .14;
$shadow-opacity-back-light:             .12;
$shadow-opacity-focus:                  .5;
$shadow-opacity-none:                   0;

$shadow-btn-light-focus:                darken($light, 20%);

// Forms
$input-btn-padding-y:                   .375rem;
$input-btn-padding-x:                   1.125rem;

$input-btn-padding-y-sm:                .25rem;
$input-btn-padding-x-sm:                .875rem;

$input-btn-padding-y-lg:                .5rem;
$input-btn-padding-x-lg:                1.375rem;

$input-btn-border-width:                $border-width * 2;

$input-min-height:                      2.6875rem;
$input-min-height-sm:                   1.875rem;
$input-min-height-lg:                   3.375rem;

$input-font-size:                       $font-size-base * .75;
$input-font-size-sm:                    $font-size-base * .6875;
$input-font-size-lg:                    $font-size-base * .875;

$input-bg:                              transparent;
$input-disabled-bg-light-1:             rgba($white, .1);
$input-disabled-bg-light-2:             rgba($white, .25);
$input-color:                           $sub-color-base;
$input-border-color:                    #e0e0e0;

$input-color-light-1:                   $white-50;
$input-border-color-light-1:            rgba($white, .19);

$input-color-light-2:                   $white;
$input-border-color-light-2:            rgba($white, .75);

$input-focus-color:                     $input-color;
$input-focus-border-color:              $component-active-bg;
$input-focus-box-shadow:                0 0 8px 0 rgba($black, .2);
$input-focus-box-shadow-light:          0 0 8px 0 rgba($white, .2);

$input-placeholder-color:               $sub-color-base;
$input-plaintext-color:                 $input-placeholder-color;

$input-placeholder-color-light-1:       $white-50;
$input-plaintext-color-light-1:         $input-placeholder-color-light-1;

$input-placeholder-color-light-2:       $white;
$input-plaintext-color-light-2:         $input-placeholder-color-light-2;

$textarea-min-height:                   6.25rem;

$label-font-size:                       $input-font-size;

$input-group-text-space:                .3125rem;
$input-group-addon-bg:                  rgba($black, .08);

$input-group-addon-color-light-1:       $white-50;
$input-group-addon-bg-light-1:          rgba($white, .1);

$input-group-addon-color-light-2:       $white;
$input-group-addon-bg-light-2:          rgba($white, .25);

$input-group-text-round:                1rem;
$input-group-text-round-sm:             .625rem;
$input-group-text-round-lg:             1.375rem;

$input-group-icon-width:                $input-min-height - ($input-group-text-space * 2);
$input-group-icon-width-sm:             $input-min-height-sm - ($input-group-text-space * 2);
$input-group-icon-width-lg:             $input-min-height-lg - ($input-group-text-space * 2);

$input-group-icon-size:                 .875rem;
$input-group-icon-size-sm:              .6875rem;
$input-group-icon-size-lg:              1rem;

$custom-control-gutter:                 .625rem;

$custom-control-indicator-size:         .875rem;
$custom-control-indicator-bg:           #d7dbdd;
$custom-control-indicator-bg-size:      61% 61%;

$custom-control-indicator-bg-light-1:   rgba($white, .25);
$custom-control-indicator-bg-light-2:   rgba($white, .5);

$custom-control-indicator-ac-light-1:   rgba($white, .5);
$custom-control-indicator-ac-light-2:   rgba($white, .75);

$custom-control-indicator-disabled-bg:          $custom-control-indicator-bg;
$custom-control-label-disabled-color:           $sub-color-base;

$custom-control-indicator-checked-disabled-bg:  rgba($main-color, .5);

$custom-control-indicator-focus-box-shadow:     0 0 8px 0 rgba($black, .1);

$custom-checkbox-indicator-border-radius:       $border-radius-sm;
$custom-checkbox-indicator-icon-checked:        url("../svg/check-white.svg");
$custom-radio-indicator-icon-checked:           url("../svg/check-radio.svg");

$custom-switch-container-height:                1.875rem;
$custom-switch-width:                           $custom-control-indicator-size * 2.2858;
$custom-switch-height:                          1.125rem;
$custom-switch-indicator-border-radius:         $circle-border-radius;
$custom-switch-indicator-size:                  $custom-control-indicator-size;
$custom-switch-bg-light-2:                      rgba($white, .4);

$custom-select-height:                  $input-min-height;
$custom-select-height-sm:               $input-min-height-sm;
$custom-select-height-lg:               $input-min-height-lg;

$custom-select-font-size:               $input-font-size;
$custom-select-font-size-sm:            $input-font-size-sm;
$custom-select-font-size-lg:            $input-font-size-lg;

$custom-select-padding-y:               $input-btn-padding-y;
$custom-select-padding-x:               $input-btn-padding-x;

$custom-select-padding-y-sm:            $input-btn-padding-y-sm;
$custom-select-padding-x-sm:            $input-btn-padding-x-sm;

$custom-select-padding-y-lg:            $input-btn-padding-y-lg;
$custom-select-padding-x-lg:            $input-btn-padding-x-lg;

$custom-select-option-padding:          .5rem ($input-btn-padding-y * 2);
$custom-select-option-padding-sm:       .4375rem ($input-btn-padding-y-sm * 2);
$custom-select-option-padding-lg:       .5625rem ($input-btn-padding-y-lg * 2);

$custom-select-option-my:               2px;
$custom-select-option-border-radius:    $border-radius-sm;
$custom-select-bg-size:                 11px 14px;
$custom-select-bg-size-sm:              9px 12px;
$custom-select-bg-size-lg:              13px 16px;
$custom-select-indicator:               url("../svg/caret-down.svg");
$custom-select-indicator-gray:          url("../svg/caret-down-gray.svg");
$custom-select-indicator-white:         url("../svg/caret-down-white.svg");
$custom-select-border-radius:           $border-radius-sm;

$custom-range-track-height:             .125rem;
$custom-range-track-bg:                 #e2e4e6;
$custom-range-track-bg-light-1:         rgba($white, .15);
$custom-range-track-bg-light-2:         rgba($white, .5);
$custom-range-track-border-radius:      $custom-range-track-height / 2;
$custom-range-track-box-shadow:         none;

$custom-range-thumb-width:              .875rem;
$custom-range-thumb-height:             $custom-range-thumb-width;
$custom-range-thumb-bg:                 $main-color;
$custom-range-thumb-border-radius:      $circle-border-radius;
$custom-range-thumb-box-shadow:         0 .125rem .5rem rgba($black, .25);
$custom-range-thumb-focus-box-shadow:   0 0 .375rem rgba($black, .25);
$custom-range-thumb-active-bg:          lighten($main-color, 7.5%);

$custom-file-height:                    $input-min-height;
$custom-file-focus-box-shadow:          $input-focus-box-shadow;
$custom-file-border-radius:             $border-radius-sm;
$custom-file-button-bg:                 $main-color;
$custom-file-btn-spacer:                3px;
$custom-file-color:                     $input-color;

$custom-file-btn-round:                 $input-group-text-round;
$custom-file-btn-round-sm:              $input-group-text-round-sm;
$custom-file-btn-round-lg:              $input-group-text-round-lg;

$form-round-radius:                     $btn-round-radius;
$form-round-radius-lg:                  $btn-round-radius-lg;
$form-round-radius-sm:                  $btn-round-radius-sm;

$form-round-multiple-select-option:     1rem;
$form-round-multiple-select-option-sm:  .875rem;
$form-round-multiple-select-option-lg:  1.125rem;

// Dropdowns
$dropdown-min-width:                    13.75rem;
$dropdown-padding-y:                    .625rem;
$dropdown-border-radius:                $border-radius-sm;
$dropdown-box-shadow:                   0 .375rem 1.375rem rgba($black, .12);

$dropdown-caret-size:                   .875rem;
$dropdown-caret-size-sm:                .75rem;
$dropdown-caret-size-lg:                1rem;
$dropdown-caret-only-px:                1.25rem;

$dropdown-link-color:                   $sub-color-base;
$dropdown-link-active-bg:               $component-active-bg;
$dropdown-link-disabled-color:          #bdc3c7;

$dropdown-item-padding-y:               .3125rem;
$dropdown-item-padding-x:               1.875rem;

$dropdown-divider-padding-y:            .625rem;
$dropdown-header-padding-y:             .75rem;
$dropdown-header-color:                 $heading-color-base;

$dropdown-menu-font-size:               $font-size-base * .875;

// Navs
$nav-link-padding-y:                    .9375rem;
$nav-link-padding-x:                    1.25rem;
$nav-link-disabled-color:               $sub-color-base;

$nav-link-vertical-padding-y:           .75rem;
$nav-link-vertical-padding-x:           1.75rem;

$nav-link-font-size:                    .75rem;
$nav-link-color:                        $sub-color-base;
$nav-active-color:                      $component-active-bg;
$nav-active-border-width:               3px;

$nav-light-1-link-color:                $white-75;
$nav-light-2-link-color:                $white;

$nav-tabs-border-color:                 rgba($black, .07);
$nav-tabs-light-1-border-color:         rgba($white, .1);
$nav-tabs-light-2-border-color:         rgba($white, .2);

$nav-pills-border-radius:               1.3125rem;
$nav-pills-margin-right:                .5rem;
$nav-pills-padding-y:                   .75rem;
$nav-pills-padding-x:                   1.875rem;
$nav-pills-bg-color:                    #f5f7f7;
$nav-pills-vertical-mb:                 .9375rem;

$nav-pills-light-1-bg-color:            rgba($white, .06);
$nav-pills-light-2-bg-color:            rgba($white, .14);

$tabs-content-padding-top:              2.25rem;


// Pagination
$pagination-min-width:                  1.5625rem;
$pagination-min-width-lg:               2.25rem;
$pagination-min-width-sm:               1.1875rem;

$pagination-padding-y:                  .3125rem;
$pagination-padding-x:                  .5rem;
$pagination-padding-y-sm:               .125rem;
$pagination-padding-x-sm:               .3125rem;
$pagination-padding-y-lg:               .3125rem;
$pagination-padding-x-lg:               .75rem;

$pagination-margin:                     .1875rem;
$pagination-margin-lg:                  .25rem;
$pagination-margin-sm:                  .15625rem;

$pagination-font-size:                  .8125rem;
$pagination-font-size-lg:               1.125rem;
$pagination-font-size-sm:               .6875rem;

$pagination-color:                      $sub-color-base;
$pagination-color-light-1:              $white-50;
$pagination-color-light-2:              $white;

$pagination-border-radius:              $border-radius-sm;

$pagination-box-shadow:                 0 2px 7px 0 rgba($black, .24);
$pagination-box-shadow-lg:              0 3px 9px 0 rgba($black, .23);

$pagination-box-shadow-light-2:         0 2px 7px 0 rgba($black, .2);
$pagination-box-shadow-lg-light-2:      0 3px 9px 0 rgba($black, .2);

$pagnation-round-border-radius:         .8125rem;
$pagnation-round-border-radius-lg:      1.125rem;
$pagnation-round-border-radius-sm:      .625rem;

$pagination-focus-bg:                   #ecf0f1;
$pagination-focus-bg-light-1:           rgba($white, .12);
$pagination-focus-bg-light-2:           rgba($white, .25);
$pagination-focus-color-light-1:        $white-75;

$pagination-hover-color:                $pagination-color;
$pagination-hover-bg:                   #f5f7f7;
$pagination-hover-bg-light-1:           rgba($white, .06);
$pagination-hover-bg-light-2:           rgba($white, .14);

$pagination-active-bg-light-2:          $white;

$pagination-disabled-color:             $pagination-color;
$pagination-disabled-color-light-1:     $pagination-color-light-1;
$pagination-disabled-color-light-2:     $pagination-color-light-2;

// Cards
$card-spacer-y:                         1rem;
$card-spacer-x:                         1.875rem;
$card-border-radius:                    $border-radius-lg;
$card-inner-border-radius:              $border-radius-lg;
$card-img-overlay-padding:              $card-spacer-x;

$card-gallery-meta-padding:             2.1875rem $card-spacer-x 1.1875rem;
$card-gallery-title-mb:                 .1875rem;
$card-gallery-btn-mb:                   1.875rem;
$card-gallery-caption-mb:               .625rem;

$card-blog-title-size:                  $font-size-base * 1.125;
$card-blog-title-margin:                .75rem 0 .375rem;
$card-blog-meta-entry-mb:               1.875rem;

$card-price-table-py:                   3.125rem;
$card-price-table-bg-01:                url("../images/card-price-table-bg-01.jpg");
$card-price-table-bg-02:                url("../images/card-price-table-bg-02.jpg");
$card-price-table-bg-03:                url("../images/card-price-table-bg-03.jpg");
$card-price-table-bg-04:                url("../images/card-price-table-bg-04.jpg");

$card-price-margin:                     0 .1875rem 0 .3125rem;
$card-price-mb:                         2.25rem;
$card-price-font-size:                  $font-size-base * 3.75;
$card-price-currency-size:              $font-size-base * 1.5;
$card-price-title-size:                 $font-size-base * 1.25;
$card-price-title-icon-size:            $font-size-base * 1.125;
$card-price-title-icon-mr:              .5rem;
$card-price-title-mb:                   2.5rem;
$card-price-list-mb:                    2.75rem;
$card-price-list-item-mb:               .5625rem;

$card-feed-author-mb:                   1.6875rem;
$card-feed-link-mb:                     .625rem;
$card-feed-name-font-size:              $font-size-base * .6875;
$card-feed-name-color:                  #414141;
$card-feed-date-color:                  #a1a1a1;
$card-feed-item-title-size:             $card-blog-title-size;
$card-feed-item-title-mb:               .625rem;

$card-play-icon-size:                   2.25rem;

$plain-card-px:                         .9375rem;

$accordion-title-size:                  $font-size-base * .875;
$accordion-title-px:                    $card-spacer-x / 1.2;
$accordion-card-mb:                     .1875rem;
$accordion-minimal-border:              2px solid rgba($black, .09);
$accordion-minimal-border-l1:           rgba($white, .15);
$accordion-minimal-border-l2:           rgba($white, .5);
$accordion-minimal-header-py:           .9375rem;
$accordion-minimal-body-mb:             .1875rem;

// Tooltips
$tooltip-color:                         $white-75;
$tooltip-bg:                            #202020;
$tooltip-border-radius:                 $border-radius-sm;
$tooltip-opacity:                       1;
$tooltip-padding-y:                     .5625rem;
$tooltip-padding-x:                     .9375rem;

$tooltip-color-dark:                    $sub-color-base;
$tooltip-bg-light:                      #f5f7f7;
$tooltip-box-shadow:                    0 3px 6px 0 rgba($black, .14);

$tooltip-arrow-color-light:             $tooltip-bg-light;

// Popovers
$popover-padding-x:                     1.25rem;

$popover-header-font-size:              .9375rem;
$popover-header-color-light:            $white;
$popover-body-color-light:              $white-50;
$popover-bg-dark:                       #202020;

$popover-border-radius:                 $border-radius-sm;
$popover-box-shadow:                    0 .3125rem 1.22rem rgba($black, .12);
$popover-arrow-color-dark:              $popover-bg-dark;

// Toasts
$toast-padding-x:                       1.25rem;
$toast-padding-y:                       .625rem;
$toast-border-radius:                   $border-radius-lg;
$toast-box-shadow:                      $box-shadow;
$toast-header-background-color:         transparent;

// Badges
$badge-padding-t:                       .38em;
$badge-padding-b:                       .29em;
$badge-padding-x:                       .95em;
$badge-border-radius:                   $border-radius-sm;

$badge-btn-padding-x:                   .6em;
$badge-btn-padding-b:                   .24em;
$badge-btn-ml:                          .2em;

// Modals
$modal-inner-padding:                   1.875rem;
$modal-header-footer-py:                .9375rem;
$modal-header-bg-color:                 rgba($black, .03);
$modal-close-spacer:                    .375rem;

$modal-content-box-shadow:              0 1rem 3.2rem rgba($black, .2);
$modal-dialog-signup-width:             420px;

$modal-backdrop-opacity:                .7;
$modal-background-image:                url("../images/modal-bg-image.jpg");

// Alerts
//
// Define alert colors, border radius, and padding.
$alert-container-height:                3.6875rem;
$alert-padding-y:                       1.1875rem;
$alert-bg-level:                        0;
$alert-icon-size:                       $font-size-base * 1.125;

$alert-border-level:                    -7;
$alert-light-border-level:              1;

// Progress bars
$progress-bg:                           #eaeded;
$progress-bg-light-1:                   rgba($white, .15);
$progress-bg-light-2:                   rgba($white, .2);

$progress-thin-height:                  4px;
$progress-thin-border-radius:           .125rem;

$progress-thick-height:                 28px;
$progress-thick-border-radius:          $border-radius-sm;

$progerss-round-border-radius:          14px;

$progress-bar-padding-x:                1.25rem;

$progress-label-margin-bottom:          .4375rem;
$progress-label-font-size:              .75rem;
$progress-label-font-weight:            $font-weight-500;
$progress-label-light-color:            $white;
$progress-label-dark-color:             #414141;

// List group
$list-group-padding-y:                  1.25rem;

$list-group-border-radius:              $border-radius-sm;

$list-group-item-padding-y:             .5625rem;
$list-group-item-padding-x:             1.875rem;

$list-group-active-width:               4px;
$list-group-active-bg:                  $component-active-bg;

$list-group-disabled-color:             $sub-color-base;

// Breadcrumbs
$breadcrumb-font-size:                  $font-size-base * .6875;
$breadcrumb-divider-padding:            .3125rem;
$breadcrumb-item-padding:               .4375rem;

$breadcrumb-color:                      #a1a1a1;
$breadcrumb-color-light-1:              rgba($white, .5);
$breadcrumb-color-light-2:              rgba($white, .85);
$breadcrumb-bg:                         transparent;
$breadcrumb-divider-color:              rgba($black, .5);
$breadcrumb-divider-height:             .75;

$breadcrumb-border-radius:              0;

// Carousel
$carousel-control-width:                13%;
$carousel-control-size:                 22px;

$carousel-indicator-height:             2px;
$carousel-indicator-spacer:             5px;
$carousel-indicator-circle-height:      6px;
$carousel-indicator-circle-spacer:      10px;
$carousel-indicator-circle-active:      10px;

$carousel-caption-padding:              35px 40px 48px;

// Close
$close-spacer:                          2px;
$close-length:                          18px;
$close-color:                           #313131;

// Code

$code-font-size:                        100%;
$kbd-font-size:                         $code-font-size;

// Section title
$title-line-color:                      rgba($black, .24);
$title-line-color-light-1:              rgba($white, .35);
$title-line-color-light-2:              rgba($white, .75);
$title-line-spacer:                     1px;
$title-line-length:                     50px;
$title-divider-width:                   60px;
$title-divider-height:                  3px;
$title-divider-bg-dark:                 rgba($black, .18);
$title-divider-bg-light:                rgba($white, .5);
$title-divider-mt:                      1.25rem;
$title-divider-round-size:              8px;

$title-1-line-margin:                   2.1875rem;
$title-2-line-margin:                   .35em;

// Dividers
$divider-thin:                          1px;
$divider-thick:                         3px;
$divider-bg-dark:                       rgba($black, .12);
$divider-3-bg-dark:                     rgba($black, .08);
$divider-bg-light-1:                    rgba($white, .2);
$divider-bg-light-2:                    rgba($white, .5);
$divider-3-bg-light-1:                  rgba($white, .16);
$divider-3-bg-light-2:                  rgba($white, .35);

// Drop caps
$drop-cap-margin-r:                     1rem;
$drop-cap-font-family:                  $font-family-base;
$drop-cap-font-size:                    4.25rem;
$drop-cap-font-weight:                  600;
$drop-cap-line-height:                  4.25rem;
$drop-cap-color:                        $dark;

// Meta
$meta-author-width:                     48px;
$meta-author-mr:                        .75rem;
$meta-item-font-size:                   $font-size-base * .6875;
$meta-icon-size:                        $font-size-base * .875;
$meta-item-mr:                          1.25rem;
$meta-icon-mr:                          .375rem;

$meta-entry-font-size:                  $meta-item-font-size;
$meta-entry-item-padding:               .4375rem;
$meta-entry-color:                      #a1a1a1;
$meta-entry-color-light-1:              rgba($white, .5);
$meta-entry-color-light-2:              rgba($white, .85);

$meta-entry-divider:                    quote("/");
$meta-entry-divider-color:              rgba($black, .5);
$meta-entry-divider-height:             .75;
$meta-entry-divider-padding:            .125rem;

$meta-entry-color-light-1:              rgba($white, .5);
$meta-entry-color-light-2:              rgba($white, .85);

// Icon info
$icon-info-default-color-primary:       #b3b6b7;
$icon-info-default-color-secondary:     #979a9a;

$icon-info-1-icon-w:                    50px;

$icon-info-2-icon-w:                    90px;
$icon-info-2-icon-color:                $white;
$icon-info-2-icon-shadow:               $box-shadow-md;

$icon-info-5-icon-w:                    140px;
$icon-info-5-icon-color:                $white;
$icon-info-5-icon-shadow:               $box-shadow-lg;

// Hover transitions
$hover-transition-overlay-color:        $hover-overlay-bg;
$hover-scale-duration-base:             ($transition-duration-base + .1);

$hover-element-offset:                  65%;
$hover-element-padding:                 1.875rem;
$hover-desc-font-size:                  $font-size-sm;

$hover-border-offset:                   15px;

// Testimonial
$testimonial-image-mb:                  2.5rem;
$testimonial-image-w:                   80px;
$testimonial-image-shadow:              $box-shadow;
$testimonial-box-padding:               2.1875rem 2.5rem;
$testimonial-name-font-size:            1.125rem;
$testimonial-name-font-weight:          $font-weight-600;
$testimonial-name-wording-font-weight:  $font-weight-400;
$testimonial-name-wording-color:        $sub-color-base;
$testimonial-name-color:                #202020;
$testimonial-quote-h:                   20px;
$testimonial-quote-icon-mb:             1.875rem;
$testimonial-quote-icon-color:          #b3b6b7;

$testimonial-1-bg:                      #f4f6f7;
$testimonial-1-quote-bg:                #e5e8e8;

$testimonial-1-light-1-bg:              $dark;
$testimonial-1-light-1-quote-bg:        rgba($dark, .6);
$testimonial-1-light-2-quote-bg:        rgba($testimonial-1-bg, .5);

$testimonial-2-bg:                      $white;
$testimonial-2-quote-border-w:          0 11.5px $testimonial-quote-h 11.5px;
$testimonial-2-quote-left-border-w:     11.5px $testimonial-quote-h 11.5px 0;
$testimonial-2-rounded:                 $border-radius-lg;
$testimonial-2-shadow-length:           0 -1.25rem 7.5rem -1.5625rem;
$testimonial-2-shadow-l-length:         -2.5rem 0 7.5rem -1.5625rem;
$testimonial-2-shadow-color:            rgba($black, .18);
$testimonial-2-shadow:                  $testimonial-2-shadow-length $testimonial-2-shadow-color;
$testimonial-2-quote-l-shadow:          $testimonial-2-shadow-l-length $testimonial-2-shadow-color;

$testimonial-2-light-1-shadow-color:    rgba($black, .5);
$testimonial-2-light-1-bg:              $dark;
$testimonial-2-light-1-shadow:          $testimonial-2-shadow-length $testimonial-2-light-1-shadow-color;
$testimonial-2-light-1-quote-l-shadow:  $testimonial-2-shadow-l-length $testimonial-2-light-1-shadow-color;

$testimonial-3-quote-mb:                3.125rem;
$testimonial-3-quote-font-size:         1.25rem;
$testimonial-3-quote-font-weight:       $font-weight-500;

// Info box
$info-box-padding:                      1.875rem;
$info-box-hover-duration:               ($transition-duration-base + .1);
$info-box-btn-delay:                    .1s;

$info-box-1-overlay-bg:                 $black;
$info-box-1-overlay-opacity:            .2;

$info-box-2-caption-padding-x:          $info-box-padding;
$info-box-2-caption-padding-y:          1rem;
$info-box-2-caption-bg:                 $main-color;
$info-box-2-overlay-bg:                 rgba($black, .5);

$info-box-3-subtitle-size:              1rem;

$info-box-4-caption-py:                 5rem;


/* Content css-variables */

:root {
  /* Common */
  // Primary color
  --primary-color: #fd5721;

  /* Additional Colors */
  // White section background color
  --white-section: #fff;
  // Gray section background color
  --gray-section: #f8f8f8;
  // Black section background color
  --black-section: #222020;
  // Light Gray section background color
  --light-gray-section: #fcfcfc;
  // Homenet Veridian
  --viridian: #1b2631;
  // Selection background color
  --selection_background: #dcdcdc;
  // Selection color
  --selection_color: #232323;


  /* Primary Sizes */
  // Hero-header default height
  --hero-header_default_height: 100vh;
  // Hero-header responsive height (768px)
  --hero-header_responsive_height: 600px;
  // Breadcrumbs height
  --breadcrumbs-height: 450px;
  // Page Header height
  --page-header-height: 370px;
  // Page Header height
  --engage-header-height: 550px;


  /* Overlay rgba Colors */
  // Default overlay
  --default_overlay: rgba(44, 44, 44, 0.4);
  // Color overlay
  --color_overlay: rgba(35, 35, 70, 0.25);
  // Dark overlay
  --dark_overlay: rgba(20, 20, 20, 0.65);
  // Black overlay
  --black_overlay: rgba(33, 33, 33, 0.5);

  /* Borders Colors */
  // Default border
  --default-border: rgba(153, 153, 153, 0.2);
  // Card border
  --card-border: rgba(153, 153, 153, 0.1);
  // White border
  --white-border: rgba(236, 236, 236, 0.5);
  // Thin border
  --thin-border: rgba(236, 236, 236, 0.09);
  // Light border
  --light-border: rgba(236, 236, 236, 0.2);
  // Button border
  --button-border: rgba(236, 236, 236, 0.4);

  /* Fonts Colors */

  // Gray Font
  --gray-font-color: #dcdcdc;
  // Gray Default Font
  --gray-default-font: #7f7f7f;
  // Light Font
  --light-font-color: #f3f3f3;

  /* Box Shadow Colors */
  // Box shadow dark
  --box-shadow-dark: rgba(21, 21, 21, 0.2);
  // Box shadow medium
  --box-shadow-medium: rgba(31, 31, 31, 0.1);
  // Box shadow light
  --box-shadow-light: rgba(31, 31, 31, 0.02);
  // Box shadow boxes
  --box-shadow-boxes: rgba(31, 31, 31, 0.02);

  /* Test Shadow Colors */
  // Text shadow dark
  --text-shadow-dark: rgba(31, 31, 31, 0.5);
  // Text shadow medium
  --text-shadow-medium: rgba(31, 31, 31, 0.2);
  // Text shadow light
  --text-shadow-light: rgba(31, 31, 31, 0.1);
  // button shadow light
  --button-shadow-light: rgba(11, 11, 11, 0.15);;

  /* Functional Colors */
  // Default black color
  --black_default: #232323;

  /* ## ## ## ## ## ## ## ## ## ## */

 // Homenet Main UI Background Colors - Footer and Navbar
--ui-color-main: #2d2e33;
--ui-color-sub: #2c393c;

// Font, line-height, and color for body text, headings, and more.
// 
--font-main: "Montserrat", 'Verdana', 'Avenir', 'Tahoma', sans-serif;
--font-second: "Muli", 'Verdana', 'Avenir', 'Tahoma', sans-serif;
--font-zh: "Montserrat", 'Verdana', 'Avenir', "Noto Serif SC", 宋体, SimSun, 

}

