/* custom */

.listing-top {
    background-color: 
}


/* tripfinder */

.listing-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px){
    .listing-content {
        max-width: 750px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .listing-content {
        max-width: 970px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .listing-content {
        max-width: 1170px;
        width: 100%;
    }
}


.test-content-top {
    width:100%;
    background-color: red;
}
.test-content1 {
    width:100%;
    background-color: blue;
}
.test-content2 {
    width:100%;
    background-color: yellow;
}
.test-content3 {
    width:100%;
    background-color: green;
}
.test-content4 {
    width:100%;
    background-color: purple;
}

.avatar {
    height: 70px;
}

.full-page {
    height: 1500px;
}



