
  .default_overlay:after, .color_overlay:after, .dark_overlay:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }
  
  .dark_overlay:after {
  background-color: var(--dark_overlay); }
  
  .parallax-window {
  background-color: transparent; }
  
   
  
  /* [2] Page-header general settings */
  

  
 .content-page .page-header {
  position: relative;
  height: var(--page-header-height);
  padding-bottom: 0px;
     margin: 0; 
      border-bottom: none;
        font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
    }

  .content-page .engage.page-header {
  height: var(--engage-header-height); }

 .content-page .page-header h1{
    margin-top: 0;
        margin-bottom: 8px;
        line-height: 1.2;
  }
  .content-page .page-header .pg-header-wrapper {
      position: relative;
      z-index: 900;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: left; }
	  
	  
	  /* Page width */  
	  


@media (min-width: 576px) {
  .content-page .bs4.container {
    max-width: 94%; } }
@media (min-width: 768px) {
  .content-page .bs4.container {
    max-width: 860px;
    padding: 0px 5%; } }
@media (min-width: 992px) {
  .content-page .bs4.container {
    max-width: 1080px;
    padding: 0px 15px; } }
@media (min-width: 1200px) {
  .content-page .bs4.container {
    max-width: 1140px; } }
	
@media (min-width: 992px){
.content-page .burger-bg {
    display: none;
}
}
	
.content-page .burger-menu {
  position: relative;
  top: 14px;
  right: -12px;
  pointer-events: none; }

.content-page .burger-bg.collapsed,
.content-page .burger-bg {
  background-color: rgba(255, 255, 255, 0.71); }

.burger-bg.burgerMenu.menu-open {
  background-color: rgba(255, 255, 255, 0.9); }

.content-page .burger-bg {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  cursor: pointer; }

.content-page .burger-menu .line-menu {
  background-color: #586b6f; }

.content-page .burgerMenu.menu-open .line-menu {
  background-color: #fd5721; }
 
 /* Content Page titles */
.content-page-title {
  color: #fff;
  font-weight: 500;
  position: relative;
  font-size: 41px;
  letter-spacing: 0.10px; }

.engage.content-page-title {
  font-size: 48px;
  font-weight: 600; }

.pg-header-elements {
  padding: 62px 73px; }

@media (max-width: 991px) {
  .section-title,
  .content-page-title {
    font-size: 38px; }

  .pg-header-elements {
    padding: 90px 68px; } }
@media (max-width: 767px) {
  .section-title,
  .content-page-title {
    font-size: 35px; }

  .engage.content-page-title {
    font-size: 40px;
    font-weight: 600; }

  .pg-header-elements {
    padding: 90px 3%; } }
@media (max-width: 575px) {
  .section-title,
  .content-page-title {
    font-size: 33px; }

  .pg-header-elements {
    padding: 90px 6%; } }
.content-page-title .highlight {
  color: #fd5721;
  margin-left: 1px;
  font-size: 0.8em; }
  
  /* Title divider breadcrumb */
.title-breadcrumb:before {
  content: ' ';
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--white);
  margin-top: 20px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

.engage.page-header .title-breadcrumb:before {
  margin-left: auto;
  margin-right: auto; }

.title-breadcrumb.textcenter :before {
  margin-left: auto;
  margin-right: auto; }

.title-breadcrumb .breadcrumb {
  padding: 14px 16px; }

nav.title-breadcrumb:hover:before {
  width: 60%; }

nav.title-breadcrumb,
nav.title-breadcrumb ol.breadcrumb,
nav.title-breadcrumb ol.breadcrumb li.breadcrumb-item {
  display: inline-block; }


  
	  
	  
  
  
  
  
	
  
  
  
  
  
  
  
  
	  
	  
	  
  
  
  