//
// Base styles
//

.card {
  margin-bottom: $spacer * 2;

  @if $enable-rounded-card {
    border-radius: $card-border-radius;
  } @else {
    border-radius: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @if $enable-rounded-card {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      } @else {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @if $enable-rounded-card {
        border-bottom-right-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
      } @else {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.card-img-wrapper {
  overflow: hidden;
}

.card-title {

  a {
    color: $heading-color-base;
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);

    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}

.card-title-light-1 {
  a {
    color: $white;
  }
}

.card-title-light-2 {
  a {
    /* stylelint-disable-next-line declaration-no-important */
    color: $white !important;

    &:hover {
      opacity: $hover-fade-opacity;
    }
  }
}

.card-link {
  @include transition-prefix("color", $transition-duration-base, $transition-timing-base);
}

//
// Optional textual caps
//

.card-header {
  &:first-child {
    @if $enable-rounded-card {
      border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
    } @else {
      border-radius: 0;
    }
  }
}

.card-footer {
  &:last-child {
    @if $enable-rounded-card {
      border-radius: 0 0 $card-inner-border-radius $card-inner-border-radius;
    } @else {
      border-radius: 0;
    }
  }
}

//
// Header navs
//

.card-header-tabs,
.card-header-pills {
  margin-top: $card-spacer-y - .6875;
  margin-right: 0;
  margin-bottom: -($card-spacer-y - .25);
  margin-left: 0;
}

// Card image
.card-img {
  @if $enable-rounded-card {
    border-radius: $card-inner-border-radius;
  } @else {
    border-radius: 0;
  }
}

// Card image caps
.card-img-top {
  @if $enable-rounded-card {
    border-top-left-radius: $card-inner-border-radius;
    border-top-right-radius: $card-inner-border-radius;
  } @else {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.card-img-bottom {
  @if $enable-rounded-card {
    border-bottom-right-radius: $card-inner-border-radius;
    border-bottom-left-radius: $card-inner-border-radius;
  } @else {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

//
// Card groups
//

.card-group {
  @include media-breakpoint-up(sm) {
    > .card {
      &:only-child {
        @if $enable-rounded-card {
          border-radius: $card-border-radius;
        } @else {
          border-radius: 0;
        }

        .card-img-top,
        .card-header {
          @if $enable-rounded-card {
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
          } @else {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
        .card-img-bottom,
        .card-footer {
          @if $enable-rounded-card {
            border-bottom-right-radius: $card-border-radius;
            border-bottom-left-radius: $card-border-radius;
          } @else {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}

//
// Card gallery
//

.card-gallery {
  overflow: hidden;

  .card-img-overlay {
    z-index: 1;
    visibility: hidden;
    background-color: $hover-overlay-bg;
    opacity: 0;

    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
  }

  .card-gallery-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: $card-gallery-meta-padding;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";

      @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
      @include gradient($gradient-color-top, $gradient-color-bottom, $gradient-location-top, $gradient-location-bottom);
    }
  }

  %card-gallery-caption-transition {
    position: relative;
    opacity: 0;
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
  }

  .card-gallery-caption {
    .btn {
      @extend %card-gallery-caption-transition;
      top: $hover-element-slide;
    }
    .card-gallery-text {
      @extend %card-gallery-caption-transition;
      bottom: $hover-element-slide;
    }
  }

  &:hover {
    .card-img-overlay {
      visibility: visible;
      opacity: 1;
    }
    .card-gallery-meta::after {
      visibility: hidden;
      opacity: 0;
    }
    .card-gallery-caption {
      .btn {
        top: 0;
        opacity: 1;
      }
      .card-gallery-text {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

.card-gallery-caption {
  width: 100%;
  margin-bottom: $card-gallery-caption-mb;

  .card-title {
    margin-bottom: $card-gallery-title-mb;
    font-weight: $font-weight-700;
    color: $white;
  }

  .btn {
    margin-bottom: $card-gallery-btn-mb;

    i {
      margin-left: 1px;
    }
  }
}

//
// Card blog
//

.card-blog-entry {

  .card-title {
    margin: $card-blog-title-margin;
    font-size: $card-blog-title-size;
    font-weight: $font-weight-700;
  }

  .meta-entry {
    margin-bottom: $card-blog-meta-entry-mb;
  }
}

.card-blog-img {
  position: relative;
  overflow: hidden;

  @if $enable-rounded-card {
    border-top-left-radius: $card-inner-border-radius;
    border-top-right-radius: $card-inner-border-radius;
  } @else {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: $hover-element-slide;
    margin-bottom: 0;
    opacity: 0;

    @include transform-prefix("translate", "(-50%, -50%)");
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $hover-overlay-bg;
    opacity: 0;

    @include transition-prefix("opacity", $transition-duration-base, $transition-timing-base);
  }

  &:hover {

    .btn {
      margin-top: 0;
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }
  }
}

//
// Card price table
//

.card-price-table {

  .card-body {
    padding-top: $card-price-table-py;
    padding-bottom: $card-price-table-py;
  }
}

.card-price {
  margin-bottom: $card-price-mb;

  .currency {
    font-size: $card-price-currency-size;
    font-weight: $font-weight-500;
    color: $black-25;
  }

  .price {
    margin: $card-price-margin;
    font-size: $card-price-font-size;
    font-weight: $font-weight-700;
    line-height: 1;
    color: $main-color;
  }

  .term {
    position: relative;
    top: -3px;
  }
}

.card-price-title {
  margin-bottom: $card-price-title-mb;
  font-size: $card-price-title-size;
  font-weight: $font-weight-800;

  i {
    margin-right: $card-price-title-icon-mr;
    font-size: $card-price-title-icon-size;
    color: $main-color;
  }
}

.card-price-list {
  padding: 0;
  margin-bottom: $card-price-list-mb;
  list-style: none;

  li {
    margin-bottom: $card-price-list-item-mb;
  }
}

%price-table-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-table-bg-01 {
  @extend %price-table-bg;
  background-image: $card-price-table-bg-01;
}

.price-table-bg-02 {
  @extend %price-table-bg;
  background-image: $card-price-table-bg-02;
}

.price-table-bg-03 {
  @extend %price-table-bg;
  background-image: $card-price-table-bg-03;
}

.price-table-bg-04 {
  @extend %price-table-bg;
  background-image: $card-price-table-bg-04;
}

//
// Card social feed
//

.card-feed-item {

  .card-body {
    padding-top: 0;
  }

  .card-title {
    margin-bottom: $card-feed-item-title-mb;
    font-size: $card-feed-item-title-size;
    font-weight: $font-weight-700;
  }

  .card-text a {
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);

    &:hover {
      text-decoration: none;
    }
  }
}

.card-feed-img {
  @extend .card-blog-img;
  display: block;

  &::after {
    background-color: rgba($black, .35);
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: $card-play-icon-size;
    color: rgba($white, .6);

    @include transform-prefix("translate", "(-50%, -50%)");
    @include transition-prefix("color", $transition-duration-base, $transition-timing-base);
  }

  &:hover {
    .play-icon {
      color: rgba($white, .85);
    }
  }
}

.card-feed-author {
  margin-bottom: $card-feed-author-mb;
}

.card-feed-link {
  position: relative;
  z-index: 1;
  margin-bottom: $card-feed-link-mb;
  @include transform-prefix("translateY", "(-50%)");
}

.card-feed-name {
  margin-bottom: 1px;
  font-size: $card-feed-name-font-size;
  font-weight: $font-weight-600;
  text-transform: uppercase;

  a {
    color: $card-feed-name-color;
    @include transition-prefix("color", $transition-duration-base, $transition-timing-base);

    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}

.card-feed-date {
  font-size: $card-feed-name-font-size;
  font-style: italic;
  color: $card-feed-date-color;
}

//
// Accordion
//

.accordion {
  margin-bottom: $spacer * 2;

  .card {
    margin-bottom: $accordion-card-mb;
    overflow: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;

    .card-header {
      padding-right: $accordion-title-px;
      padding-left: $accordion-title-px;
      margin-bottom: 0;
      background-color: $main-color;
      border: none;
      cursor: pointer;

      @if $enable-rounded-theming {
        /* stylelint-disable-next-line declaration-no-important */
        border-radius: $border-radius-sm !important;
      } @else {
        border-radius: 0;
      }

      .btn {
        margin-bottom: 0;
        color: $white;
        border: none;
      }
    }

    .card-body {
      padding-right: $accordion-title-px;
      padding-left: $accordion-title-px;
    }
  }
}

.accordion-title {
  display: inline-block;
  margin-bottom: 0;
  font-size: $accordion-title-size;
  font-weight: $font-weight-700;
  color: $white;
}

.accordion-minimal {

  .card {
    margin-bottom: 0;
    border-radius: 0;

    &:last-child {
      border-bottom: $accordion-minimal-border;
    }

    .card-header {
      padding-top: $accordion-minimal-header-py;
      padding-bottom: $accordion-minimal-header-py;
      background-color: transparent;
      border-top: $accordion-minimal-border;
      /* stylelint-disable-next-line declaration-no-important */
      border-radius: 0 !important;
    }

    .card-body {
      margin-bottom: $accordion-minimal-body-mb;
    }

    .accordion-title {
      color: $heading-color-base;
    }
  }
}

// Accordion light 1
//
// Use for container background dark.
.accordion-light-1 {

  &.accordion-minimal {

    .card:last-child,
    .card-header {
      border-color: $accordion-minimal-border-l1;
    }

    .accordion-title {
      color: $white;
    }
  }
}

// Accordion light 2
//
// Use for container background color.
.accordion-light-2 {

  &.accordion-minimal {

    .card:last-child,
    .card-header {
      border-color: $accordion-minimal-border-l2;
    }

    .accordion-title {
      color: $white;
    }
  }
}

//
// Plain card
//

.plain-card {
  background-color: transparent;

  %plain-card-px {
    padding-right: $plain-card-px;
    padding-left: $plain-card-px;
  }

  .card-img-wrapper {
    box-shadow: $box-shadow-sm;

    @if $enable-rounded-card {
      border-radius: $card-inner-border-radius;
    } @else {
      border-radius: 0;
    }
  }

  .card-blog-img,
  .card-feed-img {
    box-shadow: $box-shadow-sm;

    @if $enable-rounded-card {
      border-bottom-right-radius: $card-inner-border-radius;
      border-bottom-left-radius: $card-inner-border-radius;
    } @else {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .card-header {
    @extend %plain-card-px;

    @if $enable-rounded-card {
      border-bottom-right-radius: $card-inner-border-radius;
      border-bottom-left-radius: $card-inner-border-radius;
    } @else {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .card-body {
    @extend %plain-card-px;
  }

  .card-footer {
    @extend %plain-card-px;

    @if $enable-rounded-card {
      border-top-left-radius: $card-inner-border-radius;
      border-top-right-radius: $card-inner-border-radius;
    } @else {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .list-group-item {
    background-color: transparent;
    @extend %plain-card-px;
  }
}
