//
// Textual form controls
//

.form-control {
  min-height: $input-min-height;
  font-size: $input-font-size;

  @if $enable-rounded-form-input {
    border-radius: $input-border-radius-sm;
  } @else {
    border-radius: 0;
  }

  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
  }
}

//
// Labels
//

.col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width} + 5px);
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width} + 5px);
  font-size: $input-font-size;
}

.col-form-label-lg {
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width} + 7px);
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width} + 7px);
  font-size: $input-font-size-lg;
}

.col-form-label-sm {
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width} + 1px);
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width} + 1px);
  font-size: $input-font-size-sm;
}

// Readonly controls as plain text
.form-control-plaintext {
  min-height: $input-min-height;
  font-size: $input-font-size;
}

// Form control sizing
.form-control-sm {
  min-height: $input-min-height-sm;
  font-size: $input-font-size-sm;
}

.form-control-lg {
  min-height: $input-min-height-lg;
  font-size: $input-font-size-lg;
}

/* stylelint-disable */
textarea.form-control {
  min-height: $textarea-min-height;
}
/* stylelint-enable */

// Form validation
@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color);

//
// Round form
//

.form-round {

  &,
  &.form-control,
  &.custom-select {
    border-radius: $form-round-radius;
  }

  &.form-control-lg,
  &.custom-select-lg {
    border-radius: $form-round-radius-lg;
  }

  &.form-control-sm,
  &.custom-select-sm {
    border-radius: $form-round-radius-sm;
  }

  &.custom-file-label {
    &::after {
      border-radius: $custom-file-btn-round;
    }
  }

  &.custom-select[multiple] {
    option {
      border-radius: $form-round-multiple-select-option;
    }

    &.custom-select-lg {
      option {
        border-radius: $form-round-multiple-select-option-lg;
      }
    }

    &.custom-select-sm {
      option {
        border-radius: $form-round-multiple-select-option-sm;
      }
    }
  }
}

.custom-file {
  .form-round {
    border-radius: $form-round-radius;
  }
}

.custom-file-sm {
  .form-round {
    border-radius: $form-round-radius-sm;

    &.custom-file-label {
      &::after {
        border-radius: $custom-file-btn-round-sm;
      }
    }
  }
}

.custom-file-lg {
  .form-round {
    border-radius: $form-round-radius-lg;

    &.custom-file-label {
      &::after {
        border-radius: $custom-file-btn-round-lg;
      }
    }
  }
}

// Form light 1
//
// Use for container background dark
.form-light-1 {

  .form-control,
  .custom-select,
  .custom-file-label {
    color: $input-color-light-1;
    border-color: $input-border-color-light-1;

    @include form-control-focus-light-1();

    &::placeholder {
      color: $input-placeholder-color-light-1;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg-light-1;
    }
  }

  .form-control-plaintext {
    color: $input-plaintext-color-light-1;
  }

  .form-check-input {
    &:disabled ~ .form-check-label {
      color: $white-50;
    }
  }

  .custom-select {

    &:focus {
      color: $input-color-light-1;
    }

    &:not([multiple]) {

      option {
        color: $input-color;
      }
    }
  }

  .custom-control-input {

    &:active ~ .custom-control-label::before {
      background-color: $custom-control-indicator-ac-light-1;
    }

    &:disabled {
      ~ .custom-control-label {
        color: $white-50;

        &::before {
          background-color: $custom-control-indicator-bg-light-1;
        }
      }
    }
  }

  .custom-control-label {
    &::before {
      background-color: $custom-control-indicator-bg-light-1;
    }
  }

  .custom-range {

    &::-webkit-slider-runnable-track {
      background-color: $custom-range-track-bg-light-1;
    }

    &::-moz-range-track {
      background-color: $custom-range-track-bg-light-1;
    }

    &::-ms-fill-lower {
      background-color: $custom-range-track-bg-light-1;
    }

    &::-ms-fill-upper {
      background-color: $custom-range-track-bg-light-1;
    }
  }
}

// Form light 2
//
// Use for container background color
.form-light-2 {

  .form-control,
  .custom-select,
  .custom-file-label {
    color: $input-color-light-2;
    border-color: $input-border-color-light-2;

    @include form-control-focus-light-2();

    &::placeholder {
      color: $input-placeholder-color-light-2;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg-light-2;
    }
  }

  .form-control-plaintext {
    color: $input-plaintext-color-light-2;
  }

  .form-check-input {
    &:disabled ~ .form-check-label {
      color: $white-75;
    }
  }

  .custom-select {

    &:focus {
      color: $input-color-light-2;
    }

    &:not([multiple]) {

      option {
        color: $input-color;
      }
    }
  }

  .custom-control-input {

    &:active ~ .custom-control-label::before {
      background-color: $custom-control-indicator-ac-light-2;
    }

    &:disabled {
      ~ .custom-control-label {
        color: $white-75;

        &::before {
          background-color: $custom-control-indicator-bg-light-2;
        }
      }
    }
  }

  .custom-control-label {
    &::before {
      background-color: $custom-control-indicator-bg-light-2;
    }
  }

  .custom-range {

    &::-webkit-slider-runnable-track {
      background-color: $custom-range-track-bg-light-2;
    }

    &::-moz-range-track {
      background-color: $custom-range-track-bg-light-2;
    }

    &::-ms-fill-lower {
      background-color: $custom-range-track-bg-light-2;
    }

    &::-ms-fill-upper {
      background-color: $custom-range-track-bg-light-2;
    }
  }

  &:not(.was-validated) {
    .custom-file-input {
      &:focus ~ .custom-file-label {
        border-color: $white;
        box-shadow: $input-focus-box-shadow-light;
      }
    }
  }
}
