//
// Base styles
//

.input-group-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  > .form-control,
  > .custom-select,
  > .custom-file {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    /* stylelint-disable */
    border-color: transparent !important;
    box-shadow: none !important;
    /* stylelint-enable */

    + .form-control,
    + .custom-select,
    + .custom-file {
      margin-left: -$input-border-width;
    }

    &:focus {
      ~ .input-focus-bg {
        @include input-group-focus();
      }
    }

    .custom-file-label {
      /* stylelint-disable */
      border-color: transparent !important;
      box-shadow: none !important;
      /* stylelint-enable */

      &.input-group-first {
        &::after {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    ~ .custom-file-focus-bg {
      @include input-group-focus();
    }
  }

  > .form-control:focus,
  > .custom-select:focus,
  > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 3;
  }

  > .custom-file .custom-file-input:focus {
    z-index: 4;
  }

  > .custom-file {
    display: flex;
    align-items: center;

    + .input-group-append {
      margin-left: -$input-group-text-space;
      border-left: none;
    }
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: transparent;

    ~ .input-focus-bg {
      background-color: $input-disabled-bg;
    }
  }

  .custom-select:disabled {
    background-color: transparent;

    ~ .input-focus-bg {
      background-color: $input-disabled-bg;
    }
  }

  .custom-file-input {
    &:disabled ~ .custom-file-label {
      background-color: transparent;
    }
  }

  .input-group-file-disabled {
    ~ .input-focus-bg {
      background-color: $input-disabled-bg;

      &.custom-file-focus-bg {
        border-color: $input-border-color;
        box-shadow: none;
      }
    }
  }

  .invalid-feedback {
    + .input-focus-bg {
      height: $input-min-height;
    }
  }
}

.input-focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border: $input-border-width solid $input-border-color;

  @if $enable-rounded-form-input {
    border-radius: $input-border-radius-sm;
  } @else {
    border-radius: 0;
  }

  @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
}

// Prepend and append
.input-group-prepend,
.input-group-append {
  z-index: 1;
  border: $input-group-text-space solid transparent;

  .btn + .input-group-text,
  .input-group-text + .input-group-text {
    margin-left: 0;
  }

  .btn {
    padding-top: 0;
    padding-bottom: 0;

    &.input-group-first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.input-group-middle {
      border-radius: 0;
    }

    &.input-group-last {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// Textual addons
.input-group-text {
  font-size: $input-font-size;
  border: none;

  @if $enable-rounded-form-input {
    border-radius: $border-radius-sm;
  } @else {
    border-radius: 0;
  }

  /* stylelint-disable */
  &.input-group-first {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.input-group-middle {
    border-radius: 0 !important;
  }

  &.input-group-last {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  /* stylelint-enable */

  &.input-group-icon {
    justify-content: center;
    width: $input-group-icon-width;
    padding-right: $input-padding-y;
    padding-left: $input-padding-y;
    /* stylelint-disable-next-line declaration-no-important */
    font-size: $input-group-icon-size !important;
  }
}

.input-group-lg {
  .input-group-text {
    &.input-group-icon {
      width: $input-group-icon-width-lg;
      /* stylelint-disable */
      padding-right: $input-btn-padding-y-lg !important;
      padding-left: $input-btn-padding-y-lg !important;
      font-size: $input-group-icon-size-lg !important;
      /* stylelint-enable */
    }
  }
}

.input-group-sm {
  .input-group-text {
    &.input-group-icon {
      width: $input-group-icon-width-sm;
      /* stylelint-disable */
      padding-right: $input-btn-padding-y-sm !important;
      padding-left: $input-btn-padding-y-sm !important;
      font-size: $input-group-icon-size-sm !important;
      /* stylelint-enable */
    }
  }
}

// Sizing
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.input-group-lg > .input-group-inner > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-inner > .input-group-append > .input-group-text {
  padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  font-size: $input-font-size-lg;
  line-height: $input-line-height-lg;
}

.input-group-sm > .input-group-inner > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-inner > .input-group-append > .input-group-text {
  padding: ($input-btn-padding-y-sm / 2) $input-btn-padding-x-sm;
  font-size: $input-font-size-sm;
  line-height: $input-line-height-sm;
}

.input-group-lg > .input-group-inner {
  .invalid-feedback {
    + .input-focus-bg {
      height: $input-min-height-lg;
    }
  }
}

.input-group-sm > .input-group-inner {
  .invalid-feedback {
    + .input-focus-bg {
      height: $input-min-height-sm;
    }
  }
}

//
// Input group round form
//

.input-group-round {

  .input-focus-bg {
    border-radius: $form-round-radius;
  }

  .input-group-text {
    border-radius: $input-group-text-round;
  }

  &.input-group-lg {

    .input-focus-bg {
      border-radius: $form-round-radius-lg;
    }

    .input-group-text {
      border-radius: $input-group-text-round-lg;
    }
  }

  &.input-group-sm {

    .input-focus-sm {
      border-radius: $form-round-radius-sm;
    }

    .input-group-text {
      border-radius: $input-group-text-round-sm;
    }
  }
}

// Input group light 1
//
// Use for container background dark
.form-light-1 {

  .input-focus-bg {
    border-color: $input-border-color-light-1;
  }

  .input-group-inner {
    > .form-control,
    > .custom-select,
    > .custom-file {

      &:focus {
        ~ .input-focus-bg {
          @include input-group-focus-light-1();
        }
      }

      ~ .custom-file-focus-bg {
        @include input-group-focus-light-1();
      }
    }

    .form-control:disabled,
    .form-control[readonly] {
      ~ .input-focus-bg {
        background-color: $input-disabled-bg-light-1;
      }
    }

    .custom-select:disabled {
      ~ .input-focus-bg {
        background-color: $input-disabled-bg-light-1;
      }
    }
  }

  .input-group-file-disabled {
    ~ .input-focus-bg {
      background-color: $input-disabled-bg-light-1;

      &.custom-file-focus-bg {
        border-color: $input-border-color-light-1;
      }
    }
  }

  .input-group-text {
    color: $input-group-addon-color-light-1;
    background-color: $input-group-addon-bg-light-1;
  }
}

// Input group light 2
//
// Use for container background color
.form-light-2 {

  .input-focus-bg {
    border-color: $input-border-color-light-2;
  }

  .input-group-inner {
    > .form-control,
    > .custom-select,
    > .custom-file {

      &:focus {
        ~ .input-focus-bg {
          @include input-group-focus-light-2();
        }
      }

      ~ .custom-file-focus-bg {
        @include input-group-focus-light-2();
      }
    }

    .form-control:disabled,
    .form-control[readonly] {
      ~ .input-focus-bg {
        background-color: $input-disabled-bg-light-2;
      }
    }

    .custom-select:disabled {
      ~ .input-focus-bg {
        background-color: $input-disabled-bg-light-2;
      }
    }
  }

  .input-group-file-disabled {
    ~ .input-focus-bg {
      background-color: $input-disabled-bg-light-2;

      &.custom-file-focus-bg {
        border-color: $input-border-color-light-2;
      }
    }
  }

  .input-group-text {
    color: $input-group-addon-color-light-2;
    background-color: $input-group-addon-bg-light-2;
  }
}
