// Tabs type 1
.tabs-section-type-1 {
  .tabs-wrapper {
    .tabs-header {
      margin-bottom: 40px;
      width: 100%;
      border-bottom: 1px solid var(--default-border);
      position: relative;
      top: -1px;
      margin-left: 15px;
      margin-right: 15px;
      @media(max-width: $lg) {
        margin-bottom: 15px;
        flex-wrap: wrap;
        border-bottom: none;
        padding: 0;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
      }
      @media(max-width: $sm) {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 0;
      }
      .tab-trigger-wrapper {
        padding: 0;
        @media(max-width: $lg) {
          width: 50%;
        }
        @media(max-width: $sm) {
          width: 100%;
        }
        .tab-trigger {
          font-weight: 600;
          text-align: center;
          padding: 15px 20px;
          cursor: pointer;
          font-size: 14px;
          position: relative;
          bottom: -1px;
          margin-right: 15px;
          margin-bottom: 0px;
          transition: all .3s ease-in-out;
          background-color: var(--gray-section);
          border: 1px solid var(--default-border);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          @media(max-width: $xl) {
            font-size: 13px;
            padding: 10px 15px;
          }
          @media(max-width: $lg) {
            margin-bottom: 10px;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 5px;
          }
          @media(max-width: $md) {
            font-size: 12px;
          }
          @media(max-width: $sm) {
            margin-right: 0;
            margin-left: 0;
          }
        }
        .active {
          color: $theme-color;
          border-bottom: 1px solid transparent;
          @media(max-width: $lg) {
            border-bottom: 1px solid var(--default-border);
            color: $white;
            background-color: $theme-color;
          }
        }
      }
    }
    .tabs-body-wrapper {
      position: relative;
      margin: 0 15px;
      .tab-body {
        transition: all .3s ease-in-out;
        .tab-side {
          padding-left: 0;
          padding-right: 0;
          display: flex;
          .title {
            margin-bottom: 15px;
            font-weight: 600;
            @media(max-width: $lg) {
              font-size: 26px;
              margin-bottom: 10px;
            }
            @media(max-width: $md) {
              font-size: 24px;
              margin-bottom: 5px;
            }
          }
          .img-wrapper {
            overflow: hidden;
            border-radius: 5px;
          }

        }
        .left-side {
          padding-right: 15px;
          .title {
            text-align: right;
            @media(max-width: $lg) {
              text-align: center;
            }
          }
          .description {
            text-align: right;
            @media(max-width: $lg) {
              text-align: center;
            }
          }
          @media(max-width: $lg) {
            padding-right: 0;
          }
        }
        .right-side {
          padding-left: 15px;
          .title {
            text-align: left;
            @media(max-width: $lg) {
              text-align: center;
            }
          }
          .description {
            text-align: left;
            @media(max-width: $lg) {
              text-align: center;
            }
          }
          @media(max-width: $lg) {
            padding-left: 0;
          }
        }
        .image-side {
          @media(max-width: $lg) {
            order: 1;
            margin-bottom: 20px;
          }
        }
        .content-side {
          @media(max-width: $lg) {
            order: 2;
          }
        }
      }
      .tab-body:not(.active-body) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
      .active-body {
        position: relative;
      }
    }
  }
}

// Tabs type 2
.tabs-section-type-2 {
  .tabs-wrapper {
    .tabs-header {
      margin-bottom: 25px;
      padding: 0 0 30px 0;
      border-bottom: 1px solid var(--default-border);
      width: 100%;
      position: relative;
      flex-wrap: wrap;
      @media(max-width: $lg) {
        margin-bottom: 20px;
        padding-bottom: 25px;
      }
      @media(max-width: $md) {
        padding-bottom: 0;
        margin-bottom: 15px;
      }
      .tab-trigger-wrapper {
        padding: 0;
        margin-right: 30px;
        margin-left: 30px;
        @media(max-width: $xl) {
          margin-right: 20px;
          margin-left: 20px;
        }
        @media(max-width: $md) {
          width: 35%;
          margin-bottom: 20px;
          margin-right: 15px;
          margin-left: 15px;
        }
        .tab-trigger {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          i {
            color: var(--black_default);
            opacity: 0.5;
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
            transition: all .2s ease-in-out;
            @media(max-width: $md) {
              font-size: 28px;
              margin-bottom: 20px;
              margin-top: 15px;
            }
          }
          h6 {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--black_default);
            opacity: 0.6;
            letter-spacing: 0.5px;
            transition: all .2s ease-in-out;
          }
        }
        .active {
          i {
            color: $theme-color;
            opacity: 1;
          }
          h6 {
            color: $theme-color;
            opacity: 1;
          }
        }
      }
    }
    .tabs-body-wrapper {
      position: relative;
      .tab-body {
        transition: all .3s ease-in-out;
      }
      .tab-body:not(.active-body) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(50%);
      }
      .active-body {
        position: relative;
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}