// Content section type 1
.content-section-type-1 {
  .content-wrapper {
    .content {
      padding-bottom: 80px;
      border-bottom: 1px solid var(--default-border);
      margin-bottom: 80px;
      @media(max-width: $xl) {
        padding-bottom: 50px;
        margin-bottom: 40px;
      }
      @media(max-width: $lg) {
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      .video-wrapper {
        position: relative;
        @media(max-width: $xl) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .content-footer {
    .service {
      .icon-wrapper {
        i {
          font-size: 48px;
          margin-right: 20px;
          color: var(--primary-color);
          @media(max-width: $lg) {
            margin-right: 15px;
            font-size: 36px;
          }
        }
      }
      .description {
        h6 {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 5px;
          line-height: 1;
        }
      }
    }
    .service:not(:last-child) {
      @media(max-width: $lg) {
        margin-bottom: 35px;
      }
    }
  }
}

// Content section type 2
.content-section-type-2 {
  border-bottom: 1px solid var(--default-border);
  background-repeat: repeat;
  .services-wrapper {
    .text-side {
      h4 {
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .service-wrapper {
      .icon-wrapper {
        border-radius: 5px;
        overflow: hidden;
        padding: 25px;
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
        position: relative;
        border: 2px solid var(--card-border);
        margin-right: 30px;
        @media(max-width: $xl) {
          margin-right: 20px;
        }
        @media(max-width: $sm) {
          margin-right: 15px;
        }
        i {
          transition: all .3s ease-in-out;
          color: var(--primary-color);
          font-size: 30px;
          position: relative;
          z-index: 10;
        }
      }
      .icon-wrapper:after {
        content: ' ';
        display: block;
        border-radius: 5px;
        position: absolute;
        background-color: var(--primary-color);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: scale(0.5);
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: 1;
      }
      .content-wrapper {
        @media(max-width: $xl) {
          order: 2;
        }
        h5 {
          margin-bottom: 5px;
          line-height: 1;
          font-weight: 600;
        }
      }
    }
    .service-wrapper:not(:last-child) {
      margin-bottom: 30px;
      @media(max-width: $xl) {
        margin-bottom: 20px;
      }
      @media(max-width: $sm) {
        margin-bottom: 15px;
      }
    }
    .service-wrapper:hover {
      .icon-wrapper {
        i {
          color: $white;
        }
      }
      .icon-wrapper:after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}