// Section title
.section-title {
  color: var(--black_default);
  font-family: var(--secondary-font);
  font-weight: 600;
  position: relative;
  font-size: 46px;
  @media(max-width: $lg) {
    font-size: 38px;
  }
  @media(max-width: $md) {
    font-size: 35px;
  }
  @media(max-width: $sm) {
    font-size: 33px;
  }
  .highlight {
    color: var(--primary-color);
  }
}

.section-title:hover:after {
  width: 80px;
}

// White section title
.white-section-title {
  color: $white;
}

.white-section-title:after {
  background-color: $white !important;
}

// Title divider

.title-divider-left:after {
  content: ' ';
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--black_default);
  margin-top: 20px;
  transition: all .3s ease-in-out;
}

.title-divider-center:after {
  content: ' ';
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--black_default);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  transition: all .3s ease-in-out;
}


.title-breadcrumb:before {
  content: ' ';
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--white);
  margin-top: 20px;
  transition: all .3s ease-in-out;
}

nav.title-breadcrumb:hover:before {
  width: 80px;
}

