// Icon boxes type 1
.icon-boxes-type-1 {
  .icon-box-wrapper {
    margin-bottom: 30px;
    @media(max-width: $md) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    i {
      color: var(--primary-color);
      font-size: 42px;
      margin-bottom: 20px;
    }
    h6 {
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
  .right-side {
    @media(max-width: $md) {
      align-items: center;
    }
    align-items: flex-end;
    h6 {
      text-align: right;
      @media(max-width: $md) {
        text-align: center;
      }
    }
    p {
      text-align: right;
      @media(max-width: $md) {
        text-align: center;
      }
    }
  }
  .center-side {
    align-items: center;
    h6 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .left-side {
    align-items: flex-start;
    @media(max-width: $md) {
      align-items: center;
    }
    h6 {
      text-align: left;
      @media(max-width: $md) {
        text-align: center;
      }
    }
    p {
      text-align: left;
      @media(max-width: $md) {
        text-align: center;
      }
    }
  }
}

// Icon boxes type 2
.icon-boxes-type-2 {
  .icon-box-wrapper {
    transform-style: preserve-3d;
    margin-bottom: 30px;
    @media(max-width: $md) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .icon-box {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 4px 8px var(--box-shadow-boxes);
      padding: 60px 40px;
      @media(max-width: $xl) {
        padding: 50px 30px;
      }
      @media(max-width: $xl) {
        padding: 30px;
      }
      @media(max-width: $md) {
        padding: 30px 15px;
      }
    }
    i {
      transform: translateZ(30px);
      text-align: center;
      margin-bottom: 35px;
      font-size: 36px;
      @media(max-width: $xl) {
        margin-bottom: 20px;
      }
    }
    h5 {
      transform: translateZ(25px);
      text-align: center;
      margin-bottom: 20px;
      color: var(--primary-color);
      @media(max-width: $xl) {
        margin-bottom: 10px;
      }
      @media(max-width: $lg) {
        margin-bottom: 5px;
      }
    }
    p {
      transform: translateZ(35px);
      text-align: center;
    }
  }
}

// Icon boxes type 3
.icon-boxes-type-3 {
  .icon-box-wrapper {
    .icon-box {
      margin-bottom: 30px;
      border: 2px solid var(--default-border);
      padding: 50px 40px;
      background-color: var(--white-section);
      border-radius: 5px;
      @media(max-width: $xl) {
        padding: 30px 15px;
      }
      @media(max-width: $md) {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
      }
      .icon {
        text-align: center;
        color: var(--black_default);
        font-size: 48px;
        margin-bottom: 30px;
        @media(max-width: $xl) {
          font-size: 42px;
        }
      }
      .icon-title {
        font-weight: 600;
        text-align: center;
        line-height: 1;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        @media(max-width: $xl) {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
      .icon-text {
        text-align: center;
      }
    }
    .active {
      box-shadow: 0 3px 7px var(--box-shadow-boxes);
      transform: translateY(-7px);
      @media(max-width: $lg) {
        box-shadow: none;
        transform: none;
      }
      .icon {
        color: var(--primary-color);
        @media(max-width: $lg) {
          color: var(--black_default);
        }
      }
      .icon-title {
        color: var(--primary-color);
        @media(max-width: $lg) {
          color: var(--black_default);
        }
      }
      .icon-text {
        color: var(--primary-color);
        @media(max-width: $lg) {
          color: var(--black_default);
        }
      }
    }
  }
}

// Icon boxes type 4
.icon-boxes-type-4 {
  .icon-box-wrapper {
    background-size: cover;
    .icon-box {
      max-width: 300px;
      text-align: center;
      color: $white;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 10;
      padding: 0 15px;
      .icon-title {
        margin-bottom: 5px;
        font-weight: 600;
        text-shadow: 1px 2px 5px var(--text-shadow-dark);
      }
      .icon {
        margin-bottom: 25px;
        font-size: 36px;
        text-shadow: 1px 2px 5px var(--text-shadow-dark);
      }
      .icon-text {
        color: $white;
        text-shadow: 1px 2px 5px var(--text-shadow-dark);
      }
    }
  }
}