// Base class

.nav-link {
  position: relative;
  font-size: $nav-link-font-size;
  font-weight: $font-weight-600;
  color: $nav-link-color;
  text-transform: uppercase;

  &::before {
    position: absolute;
    bottom: -$nav-active-border-width;
    left: 0;
    width: 100%;
    height: $nav-active-border-width;
    content: "";
    background-color: $nav-active-color;
    opacity: 0;
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);
  }

  &.active {
    color: $nav-active-color;

    &::before {
      opacity: 1;
    }
  }

  @include hover-focus {
    color: $nav-active-color;

    &::before {
      opacity: 1;
    }
  }

  &.disabled {
    color: $nav-link-disabled-color;
    opacity: $disabled-opacity;

    &::before {
      display: none;
    }
  }

  &.dropdown-toggle {

    &::before {
      left: -8px; // tabs dropdown active offset fixed.
    }

    &::after {
      position: relative;
      top: -1px;
    }
  }
}

// Nav vertical

.nav.flex-column {
  .nav-link {
    padding: $nav-link-vertical-padding-y $nav-link-vertical-padding-x;

    &::before {
      top: 0;
      bottom: inherit;
      width: $nav-active-border-width;
      height: 100%;
    }
  }
}

// Tabs

.nav-tabs {
  position: relative;
  border-bottom: none;

  > .nav-item {
    position: relative;
    z-index: 1;
  }

  .nav-link {
    border: none;
  }

  &::after {
    position: absolute;
    bottom: -($nav-active-border-width + 1);
    left: 0;
    z-index: 0;
    width: 100%;
    height: $nav-active-border-width;
    content: "";
    background-color: $nav-tabs-border-color;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-active-color;
    background-color: transparent;
  }

  .dropdown-menu {
    margin-top: 0;
    @include border-top-radius($dropdown-border-radius);
  }
}

// Pills

.nav-pills {

  > .nav-item,
  > .nav-link {
    margin-right: $nav-pills-margin-right;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    padding: $nav-pills-padding-y $nav-pills-padding-x;
    background-color: $nav-pills-bg-color;
    @include transition-prefix("all", $transition-duration-base, $transition-timing-base);

    &::before {
      display: none;
    }

    &.active,
    &:hover,
    &:focus {
      color: $white;
      background-color: $nav-active-color;

      @include nav-pills-shadow($nav-active-color, $shadow-size-front, $shadow-size-mid, $shadow-size-back, $shadow-opacity-front, $shadow-opacity-mid, $shadow-opacity-back);
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &.flex-column {

    > .nav-item,
    > .nav-link {
      margin-right: 0;
    }

    .nav-link {
      padding: $nav-pills-padding-y $nav-pills-padding-x;
      margin-bottom: $nav-pills-vertical-mb;
    }

    &.flex-sm-row,
    &.flex-md-row,
    &.flex-lg-row,
    &.flex-xl-row {
      .nav-link {
        margin-right: $nav-pills-margin-right;
      }
    }
  }
}

// Tabbable tabs

.tab-content {
  padding-top: $tabs-content-padding-top;
}

.nav-pills + .tab-content {
  padding-top: $tabs-content-padding-top - 1;
}

// Navs light 1
//
// Use for container background dark

.nav-light-1 {

  .nav-link {
    color: $nav-light-1-link-color;

    &.active,
    &:hover,
    &:focus {
      color: $nav-active-color;
    }

    &.disabled {
      /* stylelint-disable-next-line declaration-no-important */
      color: $nav-light-1-link-color !important;
      opacity: $disabled-opacity - .15;
    }
  }

  &.nav-pills {

    .nav-link {
      background-color: $nav-pills-light-1-bg-color;

      &.active,
      &:hover,
      &:focus {
        color: $white;
        background-color: $nav-active-color;

        @include nav-pills-shadow($black, $shadow-size-front, $shadow-size-mid, $shadow-size-back, $shadow-opacity-front, $shadow-opacity-mid, $shadow-opacity-back);
      }

      &.disabled {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  &.nav-tabs {
    &::after {
      background-color: $nav-tabs-light-1-border-color;
    }
  }
}

// Navs light 2
//
// Use for container background color

.nav-light-2 {

  .nav-link {

    &,
    &.active,
    &:hover,
    &:focus,
    &.disabled {
      color: $nav-light-2-link-color;
    }

    &::before {
      background-color: $white;
    }
  }

  &.nav-pills {

    .nav-link {
      background-color: $nav-pills-light-2-bg-color;

      &.active,
      &:hover,
      &:focus {
        background-color: $nav-active-color;

        @include nav-pills-shadow($black, $shadow-size-front, $shadow-size-mid, $shadow-size-back, $shadow-opacity-front, $shadow-opacity-mid, $shadow-opacity-back);
      }

      &.disabled {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

/* stylelint-disable */
.nav-light-2.nav-tabs {

  &::after {
    background-color: $nav-tabs-light-2-border-color;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-light-2-link-color;
  }
}
/* stylelint-enable */
