/* Content css-variables */
:root {
    /* Common */
    --primary-color: #fd5721; /* Additional Colors */
    --white-section: #fff; --gray-section: #f8f8f8; --black-section: #222020; --light-gray-section: #fcfcfc; --viridian: #1b2631; --selection_background: #dcdcdc; --selection_color: #232323; /* Primary Sizes */
    --hero-header_default_height: 100vh; --hero-header_responsive_height: 600px; --breadcrumbs-height: 450px; --page-header-height: 370px; --engage-header-height: 550px; /* Overlay rgba Colors */
    --default_overlay: rgba(44, 44, 44, 0.4); --color_overlay: rgba(35, 35, 70, 0.25); --dark_overlay: rgba(20, 20, 20, 0.65); --black_overlay: rgba(33, 33, 33, 0.5); /* Borders Colors */
    --default-border: rgba(153, 153, 153, 0.2); --card-border: rgba(153, 153, 153, 0.1); --white-border: rgba(236, 236, 236, 0.5); --thin-border: rgba(236, 236, 236, 0.09); --light-border: rgba(236, 236, 236, 0.2); --button-border: rgba(236, 236, 236, 0.4); /* Fonts Colors */
    --gray-font-color: #dcdcdc; --gray-default-font: #7f7f7f; --light-font-color: #f3f3f3; /* Box Shadow Colors */
    --box-shadow-dark: rgba(21, 21, 21, 0.2); --box-shadow-medium: rgba(31, 31, 31, 0.1); --box-shadow-light: rgba(31, 31, 31, 0.02); --box-shadow-boxes: rgba(31, 31, 31, 0.02); /* Test Shadow Colors */
    --text-shadow-dark: rgba(31, 31, 31, 0.5); --text-shadow-medium: rgba(31, 31, 31, 0.2); --text-shadow-light: rgba(31, 31, 31, 0.1); --button-shadow-light: rgba(11, 11, 11, 0.15); /* Functional Colors */
    --black_default: #232323; /* ## ## ## ## ## ## ## ## ## ## */
    --ui-color-main: #2d2e33; --ui-color-sub: #2c393c; --font-main: "Montserrat", 'Verdana', 'Avenir', 'Tahoma', sans-serif; --font-second: "Muli", 'Verdana', 'Avenir', 'Tahoma', sans-serif; --font-zh: "Montserrat", 'Verdana', 'Avenir', "Noto Serif SC", Õ«ïõ¢ô, SimSun, ; }

:root {
    --blue: #3498db; --indigo: #2874a6; --purple: #8e44ad; --pink: #d98880; --red: #e94b35; --orange: #d4ac0d; --yellow: #f1c40f; --green: #2ecc71; --teal: #45b39d; --cyan: #85c1e9; --white: #fff; --gray: #6c757d; --gray-dark: #343a40; --light-gray: #f7f9f9; --dark-viridian: #2c3e50; --facebook: #2874a6; --twitter: #5dade2; --pinterest: #b03a2e; --google-plus: #e74c3c; --instagram: #af7ac5; --dribbble: #cd6155; --youtube: #cb4335; --vimeo: #85c1e9; --stumbleupon: #e67e22; --primary: #3498db; --secondary: #45b39d; --success: #2ecc71; --info: #85c1e9; --warning: #f1c40f; --danger: #e94b35; --light: #f7f9f9; --dark: #2c3e50; --facebook: #2874a6; --twitter: #5dade2; --pinterest: #b03a2e; --google-plus: #e74c3c; --instagram: #af7ac5; --dribbble: #cd6155; --youtube: #cb4335; --vimeo: #85c1e9; --stumbleupon: #e67e22; --breakpoint-xs: 0; --breakpoint-sm: 576px; --breakpoint-md: 768px; --breakpoint-lg: 992px; --breakpoint-xl: 1200px; --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }




a {
    color: #85c3ae;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--homenet-light-teal);
    text-decoration: underline;
}


button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button:focus {
    outline: 1px dotted;
    outline: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}


/* Buttons */
body.en .button-submit {
    font-family: "Muli", "Verdana", "Avenir", "Tahoma", sans-serif;
}

/* Buttons */
body.en .button-submit, body.en .button-contact, body.en .button-action, body.en .button-msg-send, body.en .button-popup, body.en .button-search, body.en .search-btn {
    font-family: "Muli", "Verdana", "Avenir", "Tahoma", sans-serif;
}

.sole_agent {
    min-width: 90px;
    min-height: 32px;
    padding: 0px 13px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #1b75ad;
    color: #18689a;
    font-size: 14px;
    letter-spacing: -0.4px;
    display: inline-block;
    text-transform: uppercase;
}


.homenet-btn {
    line-height: 1;
    text-align: center;
    position: relative;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.button-contact {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9375rem;
    border-radius: 100px;
    background-color: #85c3ae;
    border: 2px solid #85c3ae;
    letter-spacing: 0.5px;
    min-width: 126px;
    min-height: 41px;
    color: #fff;
}

.button-contact:hover {
    background-color: transparent;
    border-color: #85c3ae;
    color: #85c3ae;
}

.button-contact:active {
    background-color: #85c3ae;
    color: #fff;
    opacity: 0.7;
}

.button-search {
    font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 0.96875em;
    text-transform: none;
    border-radius: 100px;
    background-color: #f75311;
    border: 2px solid #f75311;
    letter-spacing: 0.4px;
    min-width: 128px;
    height: 45px;
    padding-left: 9px;
    color: #fff;
}

.button-search:hover {
    background-color: rgba(247, 83, 17, 0.28);
    color: #e64200;
}

.button-search:active {
    background-color: #f75311;
    color: #fff;
    opacity: 0.7;
}

.button-dash {
    font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    text-transform: uppercase;
    border-radius: 100px;
    background-color: #5aa9e2;
    letter-spacing: 0.6px;
    width: 182px;
    height: 42px;
    border: none;
    color: #fff;
}

.button-dash:hover {
    box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
    -moz-box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
}

.button-dash:active {
    background-color: #4987b3;
}

.button-msg-send {
    font-weight: 600;
    font-size: 0.84375em;
    text-transform: none;
    border-radius: 4px;
    background-color: #43abff;
    letter-spacing: 0.2px;
    width: 131px;
    height: 36px;
    border: none;
    color: #fff;
    line-height: 34px;
}

.button-msg-send:hover {
    box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
    -moz-box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(52, 152, 219, 0.5);
}

.button-msg-send:active {
    background-color: #4987b3;
}

.button-verify {
    font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
    font-weight: 600;
    font-size: 0.8125em;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #4be1ab;
    letter-spacing: 0.5px;
    width: 200px;
    height: 41px;
    border: none;
    color: #fff;
}

.button-verify:hover {
    box-shadow: 0 1px 9px 0 rgba(75, 225, 171, 0.5);
    -moz-box-shadow: 0 1px 9px 0 rgba(75, 225, 171, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(75, 225, 171, 0.5);
}

.button-verify:active {
    background-color: #14cc89;
}

.button-popup {
    font-weight: 400;
    font-size: 0.96875em;
    text-transform: uppercase;
    border-radius: 4px;
    width: 113px;
    height: 36px;
    border: none;
}

.button-popup.confirm {
    background-color: #f00a2b;
    letter-spacing: 0.4px;
    color: #fff;
}

.button-popup.confirm:hover {
    box-shadow: 0 1px 9px 0 rgba(240, 10, 43, 0.5);
    -moz-box-shadow: 0 1px 9px 0 rgba(240, 10, 43, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(240, 10, 43, 0.5);
}

.button-popup.confirm:active {
    opacity: 0.5;
}

.button-popup.cancel {
    background-color: #656571;
    letter-spacing: 0.5px;
    color: #fff;
}

.button-popup.cancel:hover {
    box-shadow: 0 1px 9px 0 rgba(101, 101, 113, 0.5);
    -moz-box-shadow: 0 1px 9px 0 rgba(101, 101, 113, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(101, 101, 113, 0.5);
}

.button-popup.cancel:active {
    background-color: #454556;
}

.button-action {
    font-weight: 400;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ff755a;
    border: 2px solid #ff755a;
    color: #fff;
}

.button-action:hover {
    background-color: transparent;
    color: #ff755a;
    font-weight: 600;
}

.button-action:active {
    background-color: #ff755a;
    color: #fff;
    opacity: 0.7;
}

.button-action.listing-enquiry {
    text-transform: uppercase;
    min-width: 263px;
    min-height: 43px;
    letter-spacing: 0.5px;
}

.button-action.save {
    text-transform: uppercase;
    min-width: 202px;
    min-height: 45px;
    letter-spacing: 1.3px;
}

.button-bordered {
    border-radius: 4px;
    border: 2px solid #ff755a;
    background-color: transparent;
    font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
}

.button-bordered.view-profile:hover, .button-bordered.verify:hover {
    background-color: #ff755a;
    color: #fff;
}

.button-bordered.view-profile:active, .button-bordered.verify:active {
    opacity: 0.5;
}

.button-bordered.view-profile {
    text-transform: uppercase;
    min-width: 222px;
    min-height: 43px;
    font-size: 0.8125em;
    letter-spacing: 0.7px;
    font-weight: 600;
    color: #545661;
}

.button-bordered.verify {
    min-width: 197px;
    min-height: 43px;
    font-size: 0.84375em;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #1d233a;
}

.button-bordered-rnd {
    border-radius: 50px;
    background-color: transparent;
    font-family: "Montserrat", "Verdana", "Avenir", "Tahoma", sans-serif;
}

.button-bordered-rnd.change-pic {
    text-transform: uppercase;
    min-width: 204px;
    min-height: 42px;
    font-size: 0.75em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #343e5c;
    border: 2px solid #dadee5;
}

.button-bordered-rnd.change-pic:hover {
    background-color: #96a0b7;
    border: 2px solid #96a0b7;
    color: #fff;
}

.button-bordered-rnd.change-pic:active {
    background-color: #666c7b;
    border: 2px solid #666c7b;
    color: #fff;
}

.button-bordered-rnd.delete-pic {
    text-transform: uppercase;
    min-width: 204px;
    min-height: 42px;
    font-size: 0.75em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ff7547;
    border: 2px solid #fea082;
}

.button-bordered-rnd.delete-pic:hover {
    background-color: #ff755a;
    border: 2px solid #ff755a;
    color: #fff;
}

.button-bordered-rnd.delete-pic:active {
    background-color: #f00a2b;
    border: 2px solid #f00a2b;
    color: #fff;
}

.button-bordered-rnd.save-note {
    text-transform: uppercase;
    min-width: 202px;
    min-height: 44px;
    font-size: 0.78125em;
    letter-spacing: 1.4px;
    font-weight: 600;
    color: #343e5c;
    border: 2px solid #dadee5;
}

.button-bordered-rnd.save-note:hover {
    background-color: #96a0b7;
    border: 2px solid #96a0b7;
    color: #fff;
}

.button-bordered-rnd.save-note:active {
    background-color: #666c7b;
    border: 2px solid #666c7b;
    color: #fff;
}

.search-btn {
    border-radius: 4px;
    border: 1px solid #81bea9;
    background-color: transparent;
    color: #62a18b;
}

.search-btn:hover {
    background-color: #83c3ad;
    color: #fff;
}

.search-btn:active {
    opacity: 0.5;
}

.search-btn.more-filters {
    min-width: 115px;
    min-height: 37px;
    font-size: 0.8125em;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.search-btn.close-filters {
    min-width: 136px;
    min-height: 37px;
    font-size: 0.8125em;
    letter-spacing: 0.3px;
    font-weight: 600;
}
