@import url(https://fonts.googleapis.com/css?family=Muli:300);

.calc-container {
    font-family: var(--font-secondary);
    font-weight: 400;
    letter-spacing: 0.07px;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
}

.column-element.white-section.calc-container {
    padding: 0;
    background-color: transparent;
    z-index: 3;
}

.bs4.row.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
}

.col-2of10 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-6of10 {
    flex: 0 0 60%;
    max-width: 60%;
}

.calc-cell {
    background-color: white;
    border-radius: 4px;
}

.calc-table {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 25px;
}


.total.calc-cell {
    margin-right: 14px;
    padding: 10px 10px;
}

.total-figures {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.parts.calc-cell,
.total.calc-cell {
    min-height: 170px;
    margin-bottom: 15px;
}

.calc-results a {
    color: #4c657b;
    text-decoration: none;
}

.parts.calc-cell {
    padding: 0px;
}






.calc-input select {
    width: 100%;
    text-align: center;
}

.calc-input {
    padding: 29px 8% 15px 8%;
}

.calc-price-col,
.calc-other-col {
    margin-bottom: 25px;
}

.row.aquire {
    margin-bottom: 25px;
}



.calc-price {
    margin-bottom: 12px;
    padding-left: 15px;
}

.bs4.info-col {
    padding-right: 10px;
}

.calc-other-col {
    margin-top: 5px;
}

.calc-other-col .info-col,
.calc-other-col .radio-col {
    margin-bottom: 15px
}

.calc-other-col .row {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}



span.empty {
    position: absolute;
    left: 0;
    right: 0;
    width: 200%;
    top: 130%;
}


/* Rent */
.rent-calc .parts.calc-cell .parts-result {
    padding: 28px 0;
    text-align: center;
}

.calc-rent-col.rental-1,
.calc-rent-col.rental-2 {
    margin-bottom: 30px;
}

.rent-row-1 {
    border-bottom: 1px solid #dadfe5;
    margin-bottom: 15px;
    margin-top: 10px;
}

.rent-row-2 {
    margin-top: 30px;
}

/* Sale */
.sales-calc .parts.calc-cell .parts-result {
    padding: 28px 0;
    text-align: center;
}

/* Mortgage */
.mort-calc .parts.calc-cell .parts-result {
    padding: 28px 0;
    text-align: center;
}

#pietable,
#piechart {
    min-height: 0;
}

#pietable table th>span {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
    border-radius: 10px;
}

#pietable table tr {
    line-height: 1.95;
}

#pietable table tr:last-child {
    line-height: 2.3;
}

#pietable table tr:last-child td {
    letter-spacing: 1px;
}


#pietable table {
    font-size: 15px;
    letter-spacing: 0px;
}

#pietable table th {
    font-weight: 600;
    letter-spacing: -0.5px;
   width: 60%;
}

#pietable table td {
    text-align: right;
    font-size: 16px;
        width: auto;
}

#pietable table {
    margin: 23px 0 15px 9%;
}

#pietable span {
    display: block;
    height: 16px;
    width: 16px;
}

#piechart>div {
    left: -7px;
}

.mort-input.row1,
.mort-input.row2,
.mort-input.row3 {
    display: flex;
    flex-wrap: wrap;
}

.price-hd {
    padding-left: 15px;
}

.mort-input.row1 .price {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 20px;

}

.mort-input.row1 .percent,
.mort-input.row1 .term {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
    padding-left: 3%;
    margin-bottom: 20px;
}

.mort-input.row1 .param input#terms,
.mort-input.row1 .param input#mortgage {
    width: 33%;
}

.mort-input.row1 .param input {
    display: inline-block;
}

.mort-input.row1 input {
    margin-top: 5px
}

.mort-input.row1 {
    padding-bottom: 14px;
}
.mort-input.row2{
    padding: 24px 0 8px 0;
    border-top: 1px solid #dadfe5;
}
.mort-input .title{
    width: 100%;
}

.mort-input.row2 .cslide #cmortgage,
.mort-input.row3 .aslide #amortgage{
    margin-top: 16px;
}


.mort-input.row2 input,
.mort-input.row3 input {
    display: inline-block;
    width:62px;
}

.mort-input.row2 .cslide,
.mort-input.row3 .aslide {
    flex: 0 0 60%;
    max-width: 60%;
    margin-bottom: 20px;
    padding-left: 1.5%;
}

.mort-input.row2 .cinput,
.mort-input.row3 .ainput
 {
    flex: 0 0 auto;
    max-width: inherit;
    text-align: left;
    padding-left: 2%;
    margin-bottom: 20px;
}

.mort-input.row2 .cyears,
.mort-input.row3 .ayears
 {
    flex: 0 0 auto;
    max-width: inherit;
    text-align: center;
    padding-left: 3%;
    margin-bottom: 20px;
}

#chart_div {
    border-radius: 4px;
}
#chart_div.chart{
  width: 100%; 
  height: 100%;
}


@media (max-width: 1065px) {
.mort-input.row2 .cslide,
.mort-input.row3 .aslide {
    flex: 0 0 55%;
    max-width: 55%;
}
}

@media (max-width: 750px) {
.mort-input.row2,
.mort-input.row3 {
justify-content: center!important;
text-align: center;
max-width: 100%;
}

.mort-input.row2 .cslide,
.mort-input.row3 .aslide,
.mort-input.row2 .cslide #cmortgage,
.mort-input.row3 .aslide #amortgage{
display: none;
}
.calc-input {
    padding: 29px 0% 15px 0%;
}

/*

  display no dlier in mobile
.mort-input.row2 .cslide #cmortgage,
.mort-input.row3 .aslide #amortgage{
    width: 90%;
    margin: auto;
}
*/

}









/* Slider */
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-target {
    position: relative;
    direction: ltr
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-stacking .noUi-handle {
    z-index: 10
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left .3s, top .3s;
    transition: left .3s, top .3s
}

.noUi-state-drag * {
    cursor: inherit !important
}

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.noUi-horizontal {
    height: 10px
}

.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    left: -15px;
    top: -12px
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}

.noUi-background {
    background: #ededed;
    box-shadow: inset 0 1px 1px #f0f0f0
}

.noUi-connect {
    background: #3fb8af;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms
}

.noUi-origin {
    border-radius: 10px;
    background-color: #fafafa
}

.noUi-target {
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #BBB
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB
}

.noUi-dragable {
    cursor: w-resize
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize
}

.noUi-handle {
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    background: #FFF;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 4px #ebebeb, 0 3px 7px -2px rgba(132, 132, 132, 0.29)
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
}

.noUi-handle:before,
.noUi-handle:after {
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #e8e7e6;
    left: 14px;
    top: 6px
}

.noUi-handle:after {
    left: 17px
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #b8b8b8
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed
}




/* Element Styles */

div#stamp_duty,
.avg-mortgage {
    font-family: var(--font-family-base);
    font-size: 44px;
    color: #fc835c;
    font-weight: 200;
    letter-spacing: -1.4px;
    line-height: 1.4;
}



.total .result-desc {
    font-size: 14px;
    letter-spacing: -0.3px;
}

.empty-total {
    width: 100px;
    height: 57px;
    transition: transform 0.3s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../svg/info_page/calculator/stamp-image.svg);
    margin: 0 auto;
    margin-bottom: 18px;
}

.parts-result {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.parts-result .result-desc {
    font-size: 13px;
    letter-spacing: -0.3px;
    font-weight: 400;
}

.parts-result .result-desc2 {
    font-size: 12.5px;
    font-weight: 400;
    letter-spacing: 0px;
}

span.empty {
    font-size: 15px;
    letter-spacing: -0.3px;
    font-weight: 400;
}

.calc-footer {
    margin-bottom: 20px;
    background-color: #7b848d;
    border-radius: 0px 0px 5px 5px;
}


.aquire-col {
    text-align: right
}

.bs4.col.info-col {
    text-align: right;
}

.bs4.aquire-select-col {
    padding: 0;
}

.bs4.action-buttons {
    align-items: center;
    display: flex;
}

.footer-note {
    font-size: 13px;
    color: #fff;
    padding: 17px 16px 24px 16px;
}

.calc-input input {
    text-align: center;
}

.calc-input input#price {
    width: 100%;
}

.calc-rent-col .left-input,
.calc-rent-col .term {
    display: inline-block;
    padding-right: 12px;
}

.calc-rent-col .left-input {
    line-height: 39px;
}

.calc-input input#rent,
.calc-input input#start-date {
    width: 47%;
    display: inline;
}

.calc-input input#start-date::placeholder {
    font-size: 14px;
    letter-spacing: -0.2px;
}

.calc-input input#terms,
.calc-input input#total-rentfree {
    width: 27%;
    display: inline;
    margin-right: 7px
}

div#ui-datepicker-div {
    z-index: 999 !important;
}

.calc-input input {
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0.4px;
    color: #52595a;
}


.calc-input input {
    display: block;
    text-align: center;
    width: 100%;
    height: 39px;
    font-weight: 400;
    color: #717171;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #e0e0e0;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.calc-input input:focus {
    color: #52595a;
    background-color: transparent;
    border-color: #a0c1c7;
    outline: 0;
    box-shadow: 0 0 8px 0 rgba(190, 229, 236, 0.9);
}


.custom-select {
    display: inline-block;
    width: 100%;
    padding: 0px 32px 0 22px;
    height: 39px;
    font-size: 13.5px;
    letter-spacing: -0.2px;
    font-weight: 400;
    line-height: 1.3;
    color: #1d1d1d;
    vertical-align: middle;
    background: url(../svg/caret-down.svg) no-repeat right 1.125rem center/11px 14px;
    background-color: transparent;
    border: 2px solid #e0e0e0;
    border-radius: 50px;
    background-position: right 0.9375rem center;
    -webkit-appearance: none;
}

.custom-select:focus {
    color: #1d1d1d;
    background-color: transparent;
    border-color: #a0c1c7;
    outline: 0;
    box-shadow: 0 0 8px 0 rgba(190, 229, 236, 0.9);
}

.full-width {
    width: 100%;
}

.footnote {
    font-size: 13px;
    letter-spacing: 0.1px;
    text-align: justify;
    padding: 14px 5px 0px 5px;
}

.footnote b {
    font-weight: 500;
}


/* Tables */

.calc-header,
#renttable tr.header .head,
#morttable tr.header .head {
    font-size: 16px;
    font-weight: 500;
    color: #343638;
    letter-spacing: 0.1px;
    margin: 4px 0 18px 0;

}

.calc-header2 {
    margin-bottom: 17px;
}

.selected {
    position: relative;
}

.no-icon.selected:before {
    background-image: none;
}

.selected:before {
    background-image: url(../svg/info_page/calculator/stamp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    width: 23px;
    height: 21px;
    left: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#stamp_duty_scale1 .selected:before {
    position: relative;
    float: left;
    margin-top: 10px;
    top: inherit;
    transform: inherit;
}

.calc-table .updated {
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}

.row.calc-table-head,
.table-content .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
}

.table-content .row,
.calc-table .updated {
    padding-bottom: 9px;
    padding-top: 9px;
    font-size: 14.5px;
}

.calc-table-head,
#stamp_duty_box.table-content>.calc-table-head {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    background-color: #d3dee8;
    font-size: 13.5px;
    font-weight: 500;
    color: #352d2d;
}

#avd-part-1 .calc-table-head {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.table-content>div,
#renttable table tr,
#morttable table tr {
    background-color: #efefef;
}

.calc-table .updated,
div.table-content>div:nth-of-type(odd),
#renttable>table tr:nth-of-type(odd),
#morttable>table tr:nth-of-type(odd) {
    background: #fafafa;
}

.calc-table .note {
    margin: 27px 0 10px 0;
    font-size: 13.5px;
}

.calc-table.noshow {
    padding: 0;
}

#rentstamp .col-two {
    padding: 0 6px;
}

/* Tables */
div#renttable table,
div#morttable table {
    width: 100%;
    padding: 37px 5%;
    display: block;
}


#renttable>table>tr.header,
#morttable>table>tr.header {
    background-color: transparent;
    height: 50px;
    position: relative;
    display: block;
}


#renttable>table>tr.header .head,
#morttable>table>tr.header .head {
    position: absolute;
}

table .headerrow th,
table .headerrow th {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    background-color: #d3dee8;
    font-size: 12.5px;
    font-weight: 500 !important;
    color: #352d2d;
}

#morttable table .headerrow th {
    padding: 14.5px 1px;
    font-size: 12.5px;
}

#renttable .contentrow {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 2.2;
}
#morttable .contentrow {
    font-size: 15.5px;
    letter-spacing: 0.3px;
    line-height: 2.5;
}

#renttable tr.totals {
    line-height: 4;
    font-size: 14.5px;
    font-weight: 500;
    color: #1c232a;
}

#renttable td.dt {
    font-size: 11px;
    padding-right: 12px;
    font-weight: 500;
}

#morttable th,
#morttable td {
    text-align: center;
}

#morttable td.yr{
    text-align: left;
    padding-left: 18px;
    font-weight: 500;
    color: #2a3845;
}

#renttable th.tt,
#renttable td.tt,
#morttable td.ttl
 {
    text-align: right;
    padding-right: 11px;
}

#renttable th.dt,
#renttable th.dy {
    padding: 0 3px;
}

#renttable th.m,
#renttable td.m {
    padding-left: 11px;
}

#renttable td.m {
    font-weight: 500;
    font-size: 13px;
    color: #3c4546;
}

#renttable th.dy,
#renttable td.dy,
#renttable th.dt,
#renttable td.dt {
    text-align: center;
}


td.rate {
    width: 12%;
}
td.pay, td.inpay {
    width: 21%;
}
td.bal, td.ttl {
    width: 20.5%;
}






/* Calculator Buttons */

button#reset {
    -webkit-appearance: none;
    border-radius: 45px;
    width: 41px;
    height: 41px;
    border-width: 0px;
    background-color: #84adb5;
    position: relative;
}

button#reset:active svg {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
}


button#calculate {
    -webkit-appearance: none;
    border-radius: 45px;
    width: 165px;
    height: 41px;
    border-width: 0px;
    background-color: #f87939;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 14px;
    border: solid 1px #f87939;
    position: relative;
    text-align: center;
}

button#calculate {
    margin-left: 15px;
}

button#calculate span {
    margin-left: 23px;
}

button#calculate svg {
    position: absolute;
    left: 9px;

}

button#calculate:hover {
    background-color: #fff;
    color: #f87939;
    font-weight: 600;
}

button#calculate:hover svg {
    fill: #f87939;
}

button#calculate:active svg {
    left: 19px;
    transition: left 0.1s ease-out;
}

button:focus {
    outline: none;
}



.homenet-radio {
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    width: 65px;
    max-width: inherit;
    font-weight: inherit;
}

.homenet-radio input {
    display: none;
}

.homenet-radio input+span {
    line-height: 22px;
    height: 22px;
    display: block;
    position: relative;
}

.homenet-radio input+span:not(:empty) {
    padding-left: 30px;
}

.homenet-radio input+span:before,
.homenet-radio input+span:after {
    content: '';
    width: 21px;
    height: 21px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

.homenet-radio input+span:before {
    background: #dedede;
    transition: background 0.2s ease, transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.homenet-radio input+span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.homenet-radio input.yes:checked+span:before {
    transform: scale(1.04);
    background: #c6eace;
}

.homenet-radio input.no:checked+span:before {
    transform: scale(1.04);
    background: #ffc8b6;
}


.homenet-radio input:checked+span:after {
    transform: scale(0.8);
    transition: transform 0.3s ease;
    background-repeat: no-repeat;
    background-position: center;
}

.homenet-radio input.yes:checked+span:after {
    background-image: url(../svg/general/select_yes.svg);
    background-size: 66%;
}

.homenet-radio input.no:checked+span:after {
    background-image: url(../svg/general/select_no.svg);
    background-size: 53%;
}

.homenet-radio:hover input+span:before {
    transform: scale(0.92);
}

.homenet-radio:hover input+span:after {
    transform: scale(0.74);
}

.homenet-radio:hover input:checked+span:after {
    transform: scale(0.74);
}






@media (min-width: 550px) {
    .perm .bs4.col-auto.info-col {
        min-width: 307px;
        text-align: right;
    }

    .calc-table .updated {
        padding-left: 5%;
        padding-right: 5%;
    }

}

@media (min-width: 576px) {
    .sales-calc .parts.calc-cell .parts-result {
        padding: 50px 0;
        text-align: center;
    }

    .rent-calc .parts.calc-cell .parts-result {
        padding: 59px 0;
        text-align: center;
    }

    .mort-calc .parts.calc-cell .parts-result {
        padding: 59px 0;
        text-align: center;
    }


    .rent-calc span.empty {
        width: 300%;
        top: 93%;
    }

    .sales-calc span.empty {
        width: 300%;
        top: 110%;
    }

    .mort-calc span.empty {
        width: 300%;
        top: 93%;
    }
}



@media (min-width: 551px) and (max-width: 749px) {
    .perm .bs4.col-auto.info-col {
        width: 312px;
    }

    #piechart>div {
        left: 11%;
    }
}

@media (min-width: 750px) and (max-width: 800px) {
    #pietable table {
        font-size: 15px;
    }
    #pietable table th {
        width: auto;
    }
    #pietable table td {
        font-size: 15px;
    }
}


@media (min-width: 750px) {

    .total.calc-cell {
        flex: 0 0 38%;
        max-width: 38%;
    }

    .bs4.calc-price-col {
        flex: 0 0 32%;
        max-width: 32%;
    }

    .bs4.calc-price-col #price {
        margin-left: 10px;
    }

    .bs4.calc-other-col {
        flex: 0 0 68%;
        max-width: 68%;
    }

    .bs4.aquire-col {
        display: table;
        min-height: 39px;
        text-align: right;
        position: relative;
        width: 100%;
        flex: 0 0 60%;
        max-width: 60%;
    }

    .bs4.aquire-select-col {
        position: relative;
        width: 100%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .bs4.info-col {
        padding-left: 10px;
    }

    .bs4.action-buttons {
        order: 13;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        padding: 0 28px 0 0;
    }

    span.select-desc {
        display: table-cell;
        vertical-align: middle;
    }


    .calc-other-col .row {
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .calc-input {
        padding: 24px 12px 15px 10px;
    }

    .rent-calc .calc-input {
        padding: 30px 4% 44px 4%;
    }

    .calc-rent-col .term {
        min-width: 37%;
    }

    .calc-rent-col .left-input {
        min-width: 39%;
    }

    .bs4.calc-rent-col.rental-1 {
        flex: 0 0 55%;
        max-width: 55%;
    }

    .bs4.calc-rent-col.rental-2 {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .calc-input .rent-row-1 {
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
    }

    .calc-input .rent-row-1:after {
        position: relative;
        border-bottom: 1px solid #dadfe5;
        width: 92%;
        content: '';
        position: relative;
        bottom: -25px
    }

    #renttable th.tt,
    #renttable td.tt {
        max-width: 125px;
    }

    .mort-calc .calc-input {
        padding: 30px 4% 2.8% 4%;
    }

    .mort-calc .total.calc-cell {
        flex: 0 0 36%;
        max-width: 36%;
    }




}

@media (max-width: 749px) {

    .bs4.aquire-col,
    .bs4.action-buttons {
        justify-content: center;
        text-align: center;
    }

    .bs4.action-buttons {
        padding: 32px 0px 15px 0px;
    }

    .bs4.col-12.aquire-col {
        margin-bottom: 15px;
    }

    .calc-price-col {
        margin-bottom: 40px;
    }

    .col-2of10 {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        padding-top: 10px;
    }

    .col-6of10 {
        flex: 0 0 65%;
        max-width: 65%;
        text-align: center;
        margin-left: -24px;
        margin: auto;
        padding: 15px 0 10px 0;
    }

    .calc-table-head .stamp-col {
        display: none;
    }

    .row.calc-table-head,
    .table-content .row {
        padding-left: 0px !important;
    }

    .calc-table-head .bs4.col-7,
    .table-content .bs4.col-7,
    .table-content .bs4.col-5,
    .calc-table-head .bs4.col-8,
    .table-content .bs4.col-8,
    .table-content .bs4.col-4,
    .table-content .bs4.col-6,
    .calc-table-head .bs4.col-6 {
        flex: 0 0 90%;
        max-width: 90%;
        text-align: center;
    }

    .table-content .bs4.col-5,
    .table-content .bs4.col-4,
    .table-content .bs4.col-6 {
        margin: 10px 0 16px 0;
    }

    #bsd-table .calc-table-head .bs4.col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #renttable th.end,
    #renttable td.end {
        display: none;
    }

    .parts.calc-cell.noshow-mortgage {
        padding: 0;
        min-height: 0px;
    }



    #piechart>div>div {
        margin: 0 auto;
    }


    .mort-input.row1 .price {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;

    }

    .mort-input.row1 .price input {
        max-width: 85%;
        margin: 5px auto 0;
    }

    .mort-input.row1 .percent,
    .mort-input.row1 .term {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        padding-left: 0;
    }

    .mort-input.row1 input {
        margin-top: 5px
    }
    .mort-input .title {
        margin-bottom: 15px;
    }
    .mort-input.row3 {
        border-top: 1px solid #dadfe5;
        padding-top: 23px;
    }


}

@media (max-width: 650px) {

    #renttable th.dt,
    #renttable td.dt {
        display: none;
    }
    #morttable .pay, #morttable .rate {
        display:none;
    }
    td.inpay {
    width: 25%;
}
td.bal, td.ttl {
    width: 30%;
}
#morttable .contentrow {
    font-size: 3.4vw;
}
#morttable table .headerrow th {
    font-size: 2.8vw;
}


}

@media (max-width: 575px) {

    #pietable>table {
        margin: 0 auto 5%;
    }

    #piechart>div {
        left: 0px;
    }

}

@media (max-width: 550px) {
    .info-col {
        width: 100% !important;
        text-align: center;
    }

    #renttable th.days,
    #renttable td.days,
    #renttable th.free,
    #renttable td.free {
        display: none;
    }

    .calc-rent-col {
        text-align: center;
    }

    .calc-input input#rent,
    .calc-input input#start-date {
        width: 70% !important;
    }

    .calc-rent-col .left-input,
    .calc-rent-col .term {
        padding-right: 5px;
    }
}

@media (max-width: 430px) {

    #renttable tr.headerrow th,
    #renttable tr.totals,
    #renttable tr.contentrow {
        font-size: 3vw !important;
    }

    .mort-input.row1 .percent,
    .mort-input.row1 .term {
        flex: 0 0 100%;
        max-width: 100%;
    }
}