/* Original title */

.section-title {
  color: var(--black_default);
  font-family: var(--primary-font);
  font-weight: 600;
  position: relative;
  font-size: 46px; }

  .section-title .highlight {
    color: var(--primary-color); }

.section-title:hover:after {
  width: 80px; }

.section-title.title-divider{
  margin-bottom: 80px;
}

.white-section-title {
  color: #fff; }

.white-section-title:after {
  background-color: #fff !important; }


/* Section title */

.content-page-title {
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 500;
    position: relative;
    font-size: 46px;
    font-size: 41px;
    letter-spacing: 0.10px;
}

.engage.content-page-title {
    font-size: 48px;
    font-weight: 600;
}


.pg-header-elements {
    padding: 62px 73px;
}

@media (max-width: 991px) {
    .section-title,
    .content-page-title {
        font-size: 38px;
    }
    .pg-header-elements {
        padding: 90px 68px;
    }

}
@media (max-width: 767px) {
    .section-title,
    .content-page-title {
        font-size: 35px;
    }
  .engage.content-page-title {
      font-size: 40px;
      font-weight: 600;
  }
  .pg-header-elements {
      padding: 90px 3%;
  }
}
@media (max-width: 575px) {
    .section-title,
    .content-page-title {
        font-size: 33px;
    }
  .pg-header-elements {
      padding: 90px 6%;
  }
}

.content-page-title .highlight {
    color: var(--primary-color);
    margin-left: 1px;
    font-size: 0.8em;
}



.section-title:hover:after {
    width: 100%;
      content: '';
}




/* White title */
.white-section-title {
    color: #fff;
}

.white-section-title:after {
    background-color: #fff !important;
}


/* Title divider */
.title-divider-left:after {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--black_default);
    margin-top: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title-divider:after {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--black_default);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title-breadcrumb:before {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--white);
    margin-top: 20px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.engage.page-header .title-breadcrumb:before {
  margin-left: auto;
  margin-right: auto;
}


.title-breadcrumb.textcenter :before {
    margin-left: auto;
    margin-right: auto;
}

.title-breadcrumb .breadcrumb {
    padding: 0.8rem 1rem;
}

nav.title-breadcrumb:hover:before {
    width: 60%;
}

nav.title-breadcrumb,
nav.title-breadcrumb ol.breadcrumb,
nav.title-breadcrumb ol.breadcrumb li.breadcrumb-item {
    display: inline-block;
}



.element-section {
    padding-bottom: : 80px
}

.element-title {
    font-size: 14px;
    margin-bottom: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .element-title {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .element-title {
        margin-bottom: 40px;
    }
}

.element-title:after {
    content: ' ';
    display: flex;
    width: 100px;
    height: 1px;
    background-color: var(--default-border);
    margin-left: 20px;
}

@media (max-width: 767px) {
    .element-title:after {
        width: 40px;
    }
}

.element-title:before {
    content: ' ';
    display: flex;
    width: 100px;
    height: 1px;
    background-color: var(--default-border);
    margin-right: 20px;
}

@media (max-width: 767px) {
    .element-title:before {
        width: 40px;
    }
}

.black-element-title {
    color: var(--black_default);
}

.white-element-title {
    color: #fff;
}

.element-form-left {
    padding-right: 20px;
}

@media (max-width: 991px) {
    .element-form-left {
        padding-right: 0;
        margin-bottom: 30px;
    }
}

.element-form-right {
    padding-left: 20px;
}

@media (max-width: 991px) {
    .element-form-right {
        padding-left: 0;
    }
}

.column-element {
    padding: 25px;
    margin-bottom: 30px;
}

.heading-element {
    font-weight: 600;
    font-family: var(--primary-font);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--default-border);
    margin-bottom: 20px;
}


/* Page Content */

.page-section-title {.page-section-title
    color: #5a6163;
    font-family: var(--primary-font);
font-weight: 700;
    font-size: 22px;
letter-spacing: -0.6px;
    margin: 0.2em 0 1.3em 0;
    display: inline-block;
    line-height: 1.4em;
}
.page-section-title .highlight {
    color: var(--primary-color);
    margin-left: 2px;
    font-size: 0.9em;
}

.page-sub-title {
    color: #434a4c;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 16.5px;
letter-spacing: -0.3px;
    margin-bottom: 0.6em;
}


/* Header Decorations */

.wing-line-left::before {
    margin-right: 0.4rem;
}
.wing-line-right::after {
    margin-left: 0.4rem;
}

.bottom-line:after {
    content: ' ';
    display: block;
    width: 29px;
    height: 2px;
    background-color: rgba(0,0,0,.24);
    margin: 13px 0;
}

.wing-line-right::after, .wing-line-left::before {
    display: inline-block;
    width: 15px;
    height: 2px;
    margin-bottom: .30em;
    content: "";
    background-color: rgba(0,0,0,.24);
}

/* Header Decorations End */

.content-page .element-section #content-nav,
.content-page .element-section .main-content {
    top: var(--white-overlay-top);
}

.content-page .white-section {
    border-radius: 5px;
    z-index: 2;
}

.content-page .gray-section {
    background-color: #f3f3f3;
}
.content-page .main-content .white-section {
    padding: 7% 12% 8% 12%;
}

.content-page .main-content .white-section p {
    font-size: 16px;
    font-family: muli;
color: #1f2323;
    font-weight: 400;
    letter-spacing: 0.01px;
    line-height: 1.5;
    margin-bottom: 1.6rem;
}

.content-page .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .content-page .container {
      max-width: 94%; } }
  @media (min-width: 768px) {
    .content-page .container {
max-width: 860px;
    padding: 0px 5%;
      } }
  @media (min-width: 992px) {
    .content-page .container {
      max-width: 1080px; 
    padding: 0px 15px;
    } 

    }
  @media (min-width: 1200px) {
    .content-page .container {
      max-width: 1140px; } }


/* Responsive Content Navigation */

.content-page #content-nav .list-group-item-action:hover {
    z-index: 1;
    color: #85c3ae;
    text-decoration: none;
}

@media (min-width: 992px) {
    .content-page .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
        position: sticky;
        margin-top: var(--white-overlay-top);
        margin-bottom: var(--white-overlay-bottom);
    }



      .content-page #content-nav .list-group {
    padding: 1.25rem 0 0.5rem 0;
    border-radius: 0.1875rem;
}

    .content-page .burger-menu {
        display: none;
    }

    .content-page .burger-bg {
        display: none;
    }

    .content-page #content-nav .column-element {
        position: sticky;
        top: 25px;
        z-index: 1020;
        /* padding: 12%; */
        padding: 12% 0;
    }
.content-page #content-nav .list-group-item {
    /*padding: 0.45rem 0 0.45rem 12%;*/
   padding: 0.45rem 10% 0.45rem 21%;
margin-bottom: 8px;
line-height: 21px;
    letter-spacing: 0.5px;
    color: #5e6669;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12.5px;

}




}

@media (max-width: 991px) {
.content-page #content-nav .list-group-item {
padding: 0.30rem 7%;
    margin-bottom: 8px;
line-height: 1.6;
    letter-spacing: 0.6px;
    color: #838d8e;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 600;
}

      .content-page #content-nav .list-group {
    padding: 0.6rem 0;
}
}

.content-page #content-nav .list-group-item::before {
width: 3px;
}

.content-page .burger-menu {
    position: relative;
    top: 14px;
    right: -12px;
    pointer-events: none;
}

.content-page .burger-bg.collapsed,
.content-page .burger-bg {
    background-color: rgba(255, 255, 255, 0.71);
}

.burger-bg.burgerMenu.menu-open {
    background-color: rgba(255, 255, 255, 0.90);
}

.content-page .burger-bg {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.content-page .burger-menu .line-menu {
    background-color: #586b6f;
}
.content-page .burgerMenu.menu-open .line-menu {
    background-color: #fd5721;
}

.collapse {
    visibility: hidden;
}

.collapse.show {
    visibility: visible;
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}


/* flip cards


.flip-container:active .img-wrapper {
    transform: rotateY(180deg);
}


.content-page .flip-container .img-wrapper .back {
    transform: rotateY(180deg);
}

 */