/* =============================================
  homenet - Footer with responsive collapse
================================================ */

/* Collapse needs bootstrap.bundle.js */
/* Return to Top needs custom return.top.js */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
Footer Top
Breadcrumb
Footer Body
Footer Bottom
Collapse Function CSS
Return to Top
--------------------------------------------------------------*/

footer {
    font-family: var(--font-secondary);
}

footer a {
    color: var(--white);
}

footer .footer-inner {
    padding: 0;
}

footer .footer-inner {
    color: var(--white);
    background-image: linear-gradient(to bottom left, var(--ui-color-main), var(--ui-color-sub));
}



/* Footer Top */
footer .footer-inner .footer-top {
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #303d40;
}

footer .footer-inner .footer-top .footer_logo {
    padding: 6px 0;
}

footer .footer-inner .footer-top .footer_logo:hover svg {
    fill: #fe3a14;
    transition: fill 0.3s ease;
}

@media (max-width: 991px) {
    footer .footer-inner .footer-top {
        padding: 24px 0;
        height: auto;
    }
}

footer .footer-inner .footer-top .footer-top-inner {
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

@media screen and (min-width: 767px) and (max-width:991px) {
    footer .footer-inner .footer-top .footer-top-inner {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-inner .footer_bottom .container .row .copyright {
        font-size: 9.5px;
    }
}

/* Breadcrumb */
footer .footer-inner .footer_breadcrumb .breadcrumb {
    padding: 12px 0px;
    ms-flex-pack: center !important;
    justify-content: center !important;

}

@media (max-width: 767px) {
    footer .footer-inner .footer_breadcrumb .breadcrumb {
        display: none;
    }
}

@media (min-width: 992px) {
    footer .footer-inner .footer_breadcrumb .breadcrumb {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
}

footer .footer-inner .footer_breadcrumb {
    padding: 0px;
}

/* Footer Body */
footer .footer-inner .footer-body {
    padding: 20px 0 33px 0;
}

@media (min-width: 1201px) {
    footer .footer-inner .footer-body .call_to_action {
        max-width: 231px;
        text-align: right;
    }
}

@media (max-width: 1200px) {
    footer .footer-inner .footer-body .call_to_action {
        text-align: center;
    }
}

@media (min-width: 800px) {

    footer .footer-inner .footer-body .listing,
    footer .footer-inner .footer-body .info {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}

/* Links */
footer .footer-inner .footer-body .footer_header {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

footer .footer-inner .footer-body .foot_link_list .foot_link {
    display: block;
    padding-top: 7px;
}

footer .footer-inner .footer-body .foot_link_list {
    padding-bottom: 30px;
    font-family: var(--font-secondary);
    font-size: 13.5px;
    letter-spacing: 0.4px;
    font-weight: 300;
}
  @media(max-width: 991px) {

footer .footer-inner .footer-body .foot_link_list {
    font-size: 13px;
    }
  }


footer .footer-inner .footer-body .footer_header {
    cursor: pointer;
    padding: 17px 0;
    line-height: 23px;
}

button.footer-btn {
min-width: 192px;
    text-transform: none;
    color: #fff;
    letter-spacing: 0.05em;
    border-radius: 50px;
    margin-bottom: 15px;
    font-weight: 600;
    border: 2px solid #fe3a14;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 12px;
    line-height: 1.6;
    background-color: transparent;
    padding: 10px 26px;
}

button.footer-btn:hover,
button.footer-btn:focus,
button.footer-btn.focus {
    color: #fff;
    background-color: #fe3a14;
    border-color: #fe3a14;
    box-shadow: 0 1px 9px 0 rgba(254, 58, 50, 0.5);
}

button.footer-btn:not(:disabled):not(.disabled):active,
button.footer-btn:not(:disabled):not(.disabled):active:focus,
button.footer-btn:not(:disabled):not(.disabled).active,
button.footer-btn:not(:disabled):not(.disabled).active:focus,
.show>button.footer-btn.dropdown-toggle,
.show>button.footer-btn.dropdown-toggle:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #fe3a14;
    border-color: rgb(254, 58, 20);
    box-shadow: none;
}

/* Footer Bottom */
footer .footer-inner .footer_bottom {
    background-color: var(--ui-color-sub);
    padding: 15px 0;
}

footer .footer-inner .footer_bottom .copyright {
    text-align: right;
    font-size: 12.5px;
}

@media (max-width: 576px) {
    footer .footer-inner .footer_bottom .social img {
        display: none;
    }
}

footer .footer-inner .footer_bottom .container .row {}

@media (max-width: 767px) {
    footer .footer-inner .footer_bottom .container .row .copyright {
        padding-top: 15px;
        text-align: center !important;
    }
    footer .footer-inner .footer_bottom {
        background-color: transparent;
        }

}

@media (max-width: 991px) {
    footer .footer-inner .footer_bottom {
        padding: 25px 0;
        height: auto;
    }
}

footer .footer-inner .footer_bottom img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    -webkit-transition: filter 0.25s linear;
    transition: filter 0.25s linear;
}

footer .footer-inner .footer_bottom img:hover {
    filter: none;
}

footer .footer-inner .footer_bottom .container .row .copyright {
    padding-left: 0;
    padding-right: 0;
}

footer .footer-inner .footer_bottom a.google_app {
    padding-right: 6px;
}

footer .footer-inner .footer_bottom a.twitter {
    padding-left: 3px;
}

footer .footer-inner .footer_bottom a.facebook {
    padding-left: 3px;
}

/* Collapse Function CSS */
@media (min-width: 768px) {
    footer .footer-inner .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    /* No Collapse Function if above width*/
    footer .footer-inner .footer-body .footer_header {
        pointer-events: none;
        cursor: none;
    }

    /* No Icons if above width*/
    footer .footer-inner .footer-body .footer_header.links img {
        display: none;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-body .footer_header.links {
        border-bottom: 2px solid #303d40;

    }

    footer .footer-inner .footer-body .listing .footer_header img {
        height: 23px;
        top: 15px;
        position: absolute;
        left: 10%;
    }

    footer .footer-inner .footer-body .info .footer_header img {
        height: 19px;
        top: 18px;
        position: absolute;
        left: 11%;
    }

    footer .footer-inner .footer-body .call_to_action .footer_header {
        margin-top: 50px;
    }

    footer .footer-inner .footer-body .foot_link_list .foot_link {
        text-align: left;
        padding-left: 18%;
    }

}

/* Mobile Adjustments */
@media (max-width: 350px) {
    footer .footer-inner .footer-body .footer_header.links img {
        display: none;
    }

    footer .footer-inner .footer-top .footer-top-inner {
        text-align: center;
        display: block;
    }

    button.footer-btn {
        min-width: inherit;
    }

    footer .footer-inner .footer_bottom .google_app img {
        padding-bottom: 6px;
    }
}

@media (max-width: 450px) {
    footer .footer-inner .footer-body .col-6 {
        padding: 0 10px;
        overflow-wrap: break-word;
    }
}


/*
################
Return to Top
################
*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-top: 20px;
    float: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 49px;
    height: 49px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

/* Return to Top */
#return-to-top img {
    margin: 0;
    position: relative;
    left: 16px;
    top: 14px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 5px;
}


@media (min-width: 1229px) {
    #return-to-top {
        position: sticky;
        bottom: 20px;
        right: 20px;
    }

    footer .footer-inner .footer-top .footer_breadcrumb {
        position: relative;
        left: 24px;
    }

    footer .footer-inner .footer-top .footer_logo {
        position: relative;
        left: 24px;
    }
}

@media screen and (min-width: 319px) and (max-width:767px) {
    #return-to-top {
        position: sticky;
        margin-top: 13px;
    }

    footer .footer-inner .footer-top .footer-top-inner {
        display: block;
    }

    footer .footer-inner .footer-top .footer_logo {
        margin-left: 10px;
        padding: 0;
    }
}


