
/***** BUTTONS *****/ 

/* Buttons reboot */

/* add "hand" cursor to non-disabled button elements.*/
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

/* Remove Focus Borders and color*/
button:focus,
input:focus {
    outline: none;
}

a.homenet-btn:focus {
    color: inherit;
    text-decoration: none;
}

.bs4 a {
    text-decoration: none;
    /*  background-color: transparent; */
}

/* Language Fonts */
body.en-US .homenet-btn {
    font-family: var(--font-second);
}



.button-style1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    background-color: var(--homenet-teal);
    border: 2px solid var(--homenet-teal);
    letter-spacing: 0.5px;
    min-width: 126px;
    min-height: 41px;
    color: #fff;
}

.button-style1:hover {
    background-color: transparent;
    color: #53a88b;
}

.button-style1:active {
    background-color: rgba(133, 195, 174, 0.6);
    color: #fff;
}


/* General Button Styles - Links and button */

.homenet-btn {
    line-height: 1;
    text-align: center;
    position: relative;
    transition: all .1s ease-in-out;
    overflow: hidden;
    z-index: 1;
}


/*****/

.button-submit {
    padding: 18px 40px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.8px;
}


a.button-default-color:focus,
a.button-round:focus {
 color: #fff;
}


.button-default-color,
.button-default-white,
.button-default-white-2,
.button-round {
    font-weight: 500;
    display: flex;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 17px 27px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 1em;
}

@media (max-width: 767px) {

    .button-default-color,
    .button-default-white,
    .button-default-white-2,
    .button-round {
        padding: 13px 17px;
    }
}

.button-default-color i,
.button-default-white i,
.button-default-white-2 i,
.button-round i {
    margin-left: 10px;
}


.button-round {
    background-color: var(--homenet-dark-blue);
    color: #fff;
    border-radius: 25px;
    align-items: center;
}

.button-round i {
    margin-left: 15px;
    margin-right: 0;
}

a.button-round:hover {
    color: #fff;
    background-color: var(--homenet-teal);
}

.button-default-color {
    border: 1px solid var(--default-border);
    color: rgba(255, 255, 255, 0.9);
    background-color: var(--homenet-teal);
}

.button-default-color:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(33, 33, 33, 0.07);
    position: absolute;
    top: 100%;
	left: 0px;
    border-radius: 100%;
    transition: all .2s ease-in-out;
}

a.button-default-color:hover {
    color: #fff;
	font-weight: 500;
}

.button-default-color:hover:after {
    top: 0;
    left: 0;
    border-radius: 0;
}








.button-default-white {
    border: 1px solid var(--default-border);
    color: #333;
    background-color: #fff;
}

a.button-default-white:hover {
    color: #fff;
    background-color: var(--homenet-dark-teal);
}

.button-default-white-2 {
    border: 1px solid var(--default-border);
    color: #000;
    background-color: #fff;
}

a.button-default-white-2:hover {
    color: #fff;
    background-color: var(--homenet-dark-blue);
}


/* Other General Styles */

.btn {
    display: inline-block;
    font-weight: 600;
    color: #1f2323;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0.625rem 1.625rem;
    font-size: 0.75rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
    color: #fff;
    background-color: #45b39d;
    border-color: #45b39d;
}

.btn {
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding: 0.625rem 1.625rem;
    font-size: 0.75rem;
    line-height: 1.6;
    border-radius: 0.1875rem;
    transition: all 0.2s ease-in-out;
    color: #fff;
    background-color: #bdc3c7;
}

.btn>i {
    margin-right: 0.5rem;
    font-size: 0.875rem;
}

.btn-secondary {
    color: #fff;
    background-color: #45b39d;
    box-shadow: 0 12px 35px -10px rgba(189, 195, 199, 0.55), 0 8px 10px -5px rgba(0, 0, 0, 0.09), 0 4px 25px -2px rgba(0, 0, 0, 0.14);
}

.btn-round {
    border-radius: 1.3125rem;
}

.btn-icon-only {
    width: 42px;
    height: 42px;
    padding: 0;
    line-height: 40px;
}

.btn-icon-only>i {
    margin: 0;
}

.btn-icon-only.btn-round {
    border-radius: 50%;
}