.dark_overlay_gradient:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8));
}

.mood_overlay_gradient:before {
background: linear-gradient(rgba(35, 35, 35, 0.30), rgba(35, 35, 35, 0.45));
}

.black_overlay:after, .dark_overlay_gradient:before, .color_overlay_gradient:before, .mood_overlay_gradient:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.color_overlay:after {
    background-color: var(--color_overlay);
}

section {
    position: relative;
    z-index: 100;
}

.small-section {
  padding: 80px 0; }
  @media (max-width: 1199px) {
    .small-section {
      padding: 50px 0; } }


.large-section {
  padding: 140px 0; }
  @media (max-width: 1199px) {
    .large-section {
      padding: 100px 0; } }
  @media (max-width: 991px) {
    .large-section {
      padding: 80px 0; } }
  @media (max-width: 767px) {
    .large-section {
      padding: 50px 0; } }

.contact-form-section {
    padding: 150px 15px;
}

.parallax-window {
    background-color: transparent;
}


.white-section {
  background-color: var(--white-section);
}

.gray-section {
  background-color: var(--gray-section);
}

.light-gray-section {
  background-color: var(--light-gray-section);
}

.color-section {
  background-color: $theme-color;
}

.black-section {
  background-color: var(--black-section);
}

::selection {
    background-color: var(--selection_background);
    color: var(--selection_color);
}

/* Social icons colors */
.facebook-h {
  background-color: #3b5999;
  border: 2px solid #3b5999;
}

.facebook-h:hover {
  background-color: #2b498b;
  border: 2px solid #2b498b;
}

.twitter-h {
  background-color: #55acee;
  border: 2px solid #55acee;
}

.twitter-h:hover {
  background-color: #3991d4;
  border: 2px solid #3991d4;
}

.linkedin-h {
  background-color: #0077B5;
  border: 2px solid #0077B5;
}

.linkedin-h:hover {
  background-color: #03669a;
  border: 2px solid #03669a;
}

.google-plus-h {
  background-color: #d64937;
  border: 2px solid #d64937;
}

.google-plus-h:hover {
  background-color: #bf3c2b;
  border: 2px solid #bf3c2b;
}

.instagram-h {
  background-color: #e4405f;
  border: 2px solid #e4405f;
}

.instagram-h:hover {
  background-color: #c72947;
  border: 2px solid #c72947;
}


/* [5] Contacts */
.contacts-grid .grid-item {
    padding: 150px 50px;
}

@media (max-width: 1199px) {
    .contacts-grid .grid-item {
        padding: 60px 20px;
    }
}

@media (max-width: 991px) {
    .contacts-grid .grid-item {
        padding: 80px 20px;
    }
}

@media (max-width: 575px) {
    .contacts-grid .grid-item {
        padding: 50px 10px;
    }
}

.contacts-grid .grid-item .content h3 {
    text-align: center;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
    font-size: 35px;
    font-family: var(--font-secondary);
    color: var(--black-section);
}

.contacts-grid .grid-item .content .contact {
    transition: all .2s ease-in-out;
    text-align: center;
    color: var(--black_default);
    line-height: 1;
    font-size: inherit;
font-family: var(--font-secondary);
}

@media (max-width: 991px) {
    .contacts-grid .grid-item .content .contact {
        font-size: 13px;
    }
}

.contacts-grid .grid-item .content .contact:not(:last-child) {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .contacts-grid .grid-item .content .contact:not(:last-child) {
        margin-bottom: 5px;
    }
}

.contacts-grid .grid-item .content a:hover {
    color: #fd5721;
}

.contacts-grid .grid-item .white h3 {
    color: #fff;
}

.contacts-grid .grid-item .white .contact {
    color: #fff;
}

.contacts-grid .grid-item:not(:last-child) {
    border-right: 1px solid var(--default-border);
}

@media (max-width: 767px) {
    .contacts-grid .grid-item:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid var(--default-border);
    }
}

.contact-form-section {
    padding: 150px 15px;
}

@media (max-width: 1199px) {
    .contact-form-section {
        padding: 100px 15px;
    }
}

@media (max-width: 991px) {
    .contact-form-section {
        padding: 80px 15px;
    }
}

@media (max-width: 767px) {
    .contact-form-section {
        padding: 50px 15px;
    }
}

.contact-form-section .heading {
    position: relative;
    z-index: 100;
}

.contact-form-section .contact-wrapper {
    position: relative;
    z-index: 100;
}

.contact-form-section .contact-wrapper .primary-contact-form {
    width: 100%;
}

.contact-form-section .contact-wrapper .primary-contact-form .input-row {
    display: flex;
}

@media (max-width: 575px) {
    .contact-form-section .contact-wrapper .primary-contact-form .input-row {
        flex-direction: column;
    }
}

.contact-form-section .contact-wrapper .primary-contact-form .input-row input {
    width: 50%;
}

@media (max-width: 575px) {
    .contact-form-section .contact-wrapper .primary-contact-form .input-row input {
        width: 100%;
    }
}

.contact-form-section .contact-wrapper .primary-contact-form .input-row input:first-child {
    margin-right: 5px;
}

@media (max-width: 575px) {
    .contact-form-section .contact-wrapper .primary-contact-form .input-row input:first-child {
        margin-right: 0;
    }
}

.contact-form-section .contact-wrapper .primary-contact-form .input-row input:last-child {
    margin-left: 5px;
}

@media (max-width: 575px) {
    .contact-form-section .contact-wrapper .primary-contact-form .input-row input:last-child {
        margin-left: 0;
    }
}

.contact-form-section .contact-wrapper .primary-contact-form input {
    margin-bottom: 10px;
}

.contact-form-section .contact-wrapper .primary-contact-form input,
.contact-form-section .contact-wrapper .primary-contact-form textarea {
    padding: 15px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--default-border);
}

.contact-form-section .contact-wrapper .primary-contact-form textarea {
    height: 200px;
    resize: none;
    margin-bottom: 40px;
}

@media (max-width: 575px) {
    .contact-form-section .contact-wrapper .primary-contact-form textarea {
        margin-bottom: 30px;
    }
}

.contact-form-section .contact-wrapper .primary-contact-form ::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.map-section .toggle-map {
    width: 100%;
    height: 80px;
    background-color: var(--gray-section);
    cursor: pointer;
    position: relative;
    z-index: 101;
}

.map-section .toggle-map p {
    text-transform: uppercase;
    color: var(--black_default);
    font-weight: 500;
    font-family: "Muli", "Verdana", "Avenir", "Tahoma", sans-serif;
    margin-bottom: 5px;
}

.map-section .toggle-map i {
    font-size: 1rem;
}

.map-section .hide,
.map-section .show {
    display: none;
}

.map-section .active {
    display: flex !important;
}

.map-section #map {
    position: relative;
    z-index: 100;
    height: 500px;
    width: 100%;
}

@media (max-width: 767px) {
    .map-section #map {
        height: 400px;
    }
}

.follow-us-section .social-box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .3s linear;
}

.follow-us-section .social-box i {
    font-size: 15px;
}

@media (max-width: 991px) {
    .follow-us-section .social-box {
        width: 40px;
        height: 40px;
    }

    .follow-us-section .social-box i {
        font-size: 0.875rem;
    }
}

@media (max-width: 767px) {
    .follow-us-section .social-box {
        width: 35px;
        height: 35px;
    }
}

.follow-us-section .social-box:hover {
    transform: scale(1.1);
}

.follow-us-section .social-box:not(:last-child) {
    margin-right: 35px;
}

@media (max-width: 991px) {
    .follow-us-section .social-box:not(:last-child) {
        margin-right: 25px;
    }
}

@media (max-width: 767px) {
    .follow-us-section .social-box:not(:last-child) {
        margin-right: 15px;
    }
}



