/* Flip Container Default */

.flip-container {
    perspective: 800px;
    margin-bottom: 30px;
    cursor: pointer;
}

.flip-container .img-wrapper {
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.flip-container .img-wrapper .side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container .img-wrapper .front {
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
    transform: rotateX(0deg);
}

.flip-container .img-wrapper .back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--black_default);
}

.flip-container .img-wrapper .back .content-wrapper {
    height: 100%;
    padding: 25px 40px;
}

@media (max-width: 575px) {
    .flip-container .img-wrapper .back .content-wrapper {
        padding: 15px 20px;
    }
}

.flip-container .img-wrapper .back .content-wrapper h4 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1;
}

@media (max-width: 767px) {
    .flip-container .img-wrapper .back .content-wrapper h4 {
        font-size: 1.25rem;
    }
}

@media (max-width: 575px) {
    .flip-container .img-wrapper .back .content-wrapper h4 {
        font-size: 1.125rem;
        margin-bottom: 5px;
    }
}

.flip-container .img-wrapper .back .content-wrapper p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-bottom: 0px;

}

/* Flip rotation styles */

.flip-container.flip-vertical.hover-flip:hover .img-wrapper,
.flip-container.flip-vertical.active-flip:active .img-wrapper {
    transform: rotateX(180deg);
}

.flip-container.flip-horizontal.hover-flip:hover .img-wrapper,
.flip-container.flip-horizontal.active-flip:active .img-wrapper {
    transform: rotateY(180deg);
}

.flip-container.flip-vertical .img-wrapper .back {
    transform: rotateX(180deg);
}

.flip-container.flip-horizontal .img-wrapper .back {
    transform: rotateY(180deg);
}


/* Focus Flip - Click to flip*/
a.focus-flip {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 20;
}

a.focus-flip:focus {
    z-index: 0;
}

.flip-vertical .focus-flip:focus~.img-wrapper {
    transform: rotateX(180deg);
}

.flip-section.left .flip-horizontal .focus-flip:focus~.img-wrapper {
    transform: rotateY(180deg);
}

.flip-section.right .flip-horizontal .focus-flip:focus~.img-wrapper {
    transform: rotateY(-180deg);
}

.flip-container.click-flip:hover .img-wrapper>.front.side>.card-img-overlay,
.flip-container.click-flip:hover .img-wrapper>.front.side>.card-img-overlay .overlay-elements {
    opacity: 1;
}

.flip-container.click-flip:hover .img-wrapper>.front.side>.card-img-overlay .overlay-elements>.card-overlay-text,
.flip-container.click-flip:hover .img-wrapper>.front.side>.card-img-overlay .overlay-elements>.btn {
    top: 0px;
}

.flip-container .front.side .card-img-overlay {
    content: ' ';
    display: block;
    background-color: var(--dark_overlay);
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flip-container.click-flip .front.side .card-img-overlay {
    opacity: 0;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.flip-container.click-flip .card-img-overlay .overlay-elements {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.card-img-overlay .overlay-elements {
    width: 100%;
}

.card-img-overlay .overlay-elements .btn,
.card-img-overlay .overlay-elements .card-overlay-text {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.flip-container.click-flip .card-img-overlay .overlay-elements .btn {
    top: -30px;
}

.flip-container.click-flip .card-img-overlay .overlay-elements .card-overlay-text {
    top: 30px;
}

.flip-container .front.side:hover .overlay-elements .card-overlay-text,
.flip-container .front.side:hover .overlay-elements .btn {
    top: 0px;
}

/* Flip Container alignments in Info Pages */

@media (min-width: 991px) {
    .flip-section.left {
        float: left;
        position: relative;
        width: 60%;
        clear: left;
        margin: 2% 5% 2% -16%;
    }

    .flip-section.right {
        float: right;
        position: relative;
        width: 60%;
        clear: right;
        margin: 2% -16% 2% 5%;
    }

    .flip-section.right .flip-container .img-wrapper,
    .flip-section.right .flip-container .img-wrapper .front,
    .flip-section.right .flip-container .img-wrapper .back {
        border-radius: 0px;
    }
}

.flip-section {
    float: none;
    position: relative;
    width: 100%;
    margin: auto;
}