/***** Block Quote Simple Text *****/

blockquote.type1 {
    border-left: 4px solid var(--homenet-orange);
}

.content-page .main-content blockquote.blockquote-text p {
    margin-bottom: 5px;
}

blockquote.blockquote-text {
  position: relative;
}

blockquote.blockquote-text.type2 {
border-left: none;
margin-top: 40px;
}

blockquote.blockquote-text.type2 svg.quote{
    fill: #31535a;
    position: relative;
    width: 100%;
}



blockquote.blockquote-text.type2 p:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: -8px;
    width: 50%;
    margin-top: 19px;
    border-bottom: 2px solid #31535a;
    display: block;
}

blockquote.blockquote-text.type2.left svg.quote{
    width: inherit;
}
blockquote.blockquote-text.type2.left p:after{
    left: 20px;
}




/***** Block Quote Fancy *****/


/* Content Page Full Width  */

.content-background.blockquote-img{
  height: 70vh;
  overflow: hidden;
}

/* Content Page style */
.main-content .content-background.blockquote-img{
  height: 41vh;
  overflow: hidden;
}
.content-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}

.content-page svg.quote {
    width: 73px;
    position: absolute;
    transform: 50% 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -10px;
}

.main-content svg.quote {
    width: 63px;
}


.main-content .content-background {
  margin: 0 -13.3% 30px;
}

/* CSS Image bg style 1*/

.blockquote-img.css-bg1 .blockquote-wrapper {
    background-color: var(--gray-section);
    background-image: url("../images/bg/axiom-pattern.png");
}

.content-page .main-content .blockquote-img.css-bg1 svg.quote {
    fill: var(--homenet-orange);
}

.content-page .main-content .blockquote-img.css-bg1 .blockquote-wrapper .row .blockquote-col blockquote h4 {
    border-left: 3px solid var(--homenet-orange);
}

/* Content Page style end*/



/***** Block Quote Fancy General *****/


.blockquote-img blockquote {
    border-left: 0;
    margin: 0 0 0px;
}

.blockquote-img .blockquote-wrapper {
    height: 100%;
    z-index: 100;
    position: absolute;
    display: block;
    top: 0;

}

.blockquote-img .blockquote-wrapper .row {
    width: 100%;
}

.blockquote-img .blockquote-wrapper {
    padding-right: 5%;
    padding-left: 5%;
}

.blockquote-img .blockquote-wrapper .row .blockquote-col {
    padding: 0;
}



.blockquote-img .blockquote-wrapper .row .blockquote-col blockquote {
-webkit-box-shadow: 0 4px 8px var(--box-shadow-boxes);
    box-shadow: 0 4px 8px var(--box-shadow-boxes);
    width: 530px;
    border-radius: 7px;
    position: relative;
    background-color: var(--homenet-jade);
    padding: 75px 35px 65px;
    opacity: 0.97;
}

.main-content .blockquote-img .blockquote-wrapper .row .blockquote-col blockquote {
    width: 500px;
    padding: 75px 65px 65px 65px;
}



.blockquote-img .blockquote-wrapper .row .blockquote-col blockquote h4 {

font-family: var(--font-second);
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 27px;
    line-height: 1.45;
    letter-spacing: -0.1px;
    padding: 0 14px;
}

.main-content .blockquote-img .blockquote-wrapper .row .blockquote-col blockquote h4 {
    font-weight: 500;
    font-size: 24.5px;
    line-height: 1.25;
    border-left: 3px solid #fff;
}





@media (max-width: 767px) {
    .blockquote-img .blockquote-wrapper .row .blockquote-col blockquote h4 {
        font-size: 20px;
    }
    .blockquote-img .blockquote-wrapper .row .blockquote-col blockquote {
        padding: 60px 50px 50px 50px;
    }
}

@media (max-width: 575px) {
    .blockquote-img .blockquote-wrapper .row .blockquote-col blockquote {
        padding: 50px 40px 40px 40px;
    }
    .content-background.blockquote-img {
        height: 60vh;
    }
}
