    /* Some general selectors  */
    
    .homenet-input {
        border-color: var(--input-border);
        color: var(--input-text-color);
    }

    
    .med-height,
    .med-height .ant-input {
      min-height: var(--input-height-med);
    }

      .large-height,
      .large-height .ant-input {
        min-height: var(--input-height-lg);
      }

      .xlarge-height,
      .xlarge-height .ant-input{
        min-height: var(--input-height-xlg);
      }

      .homenet-input.wht-border {
        border-color: #fff;
    }
    
    .homenet-input input.ant-input {
        color: var(--input-text-color);
    }
    
    .homenet-input.blue-input {
        background-color: var(--blue-input-bg);
    }
    
    .homenet-input.blue-input input.ant-input {
        background-color: var(--blue-input-bg);
    }

    .homenet-input.ant-input,
    .homenet-input .ant-input {
        line-height: 43px;
  }

    
    /* ****************** */
  
    .ant-input.homenet-input,
    .ant-input-affix-wrapper.homenet-input,
    .homenet-input .ant-input {
        padding: 0px 11px 0px 25px;
        font-size: 16px;
        transition: none;
    }
    
    .homenet-input::placeholder,
    .homenet-input *::placeholder {
        color: var(--placeholder);
    }
    
    .homenet-input::selection,
    .homenet-input *::selection {
        background-color: var(--input-select);
    }
    
    .homenet-input>.ant-input {
        transition: none;
    }
    
    .homenet-input:hover,
    .homenet-input .ant-input:hover,
    .ant-input.homenet-input:focus {
        border-color: var(--focus-border);
    }
    
    .homenet-input .ant-input-prefix {
        margin-right: 18px;
        transition: none;
    }
    
    .homenet-input svg {
        fill: var(--input-svg);
    }
    
    .homenet-input:focus,
    .homenet-input .ant-input:focus,
    .ant-input.homenet-input:focus,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:focus {
        border-color: var(--focus-border);
        -webkit-box-shadow: var(--focus-shadow);
        box-shadow: var(--focus-shadow);
    }

/* Rounder Inputs */

    .round-input {
      border-radius: var(--rounded);
  }

  .round-input .ant-input-group-addon:first-child,
.round-input .ant-input:first-child {
border-top-left-radius: var(--rounded);
border-bottom-left-radius: var(--rounded);
}

.round-input .ant-input-group-addon:last-child {
border-top-right-radius: var(--rounded);
border-bottom-right-radius: var(--rounded);
}

.curved-input {
      border-radius: var(--curved);
}

.curved-input .ant-input-group-addon:first-child,
.curved-input .ant-input:first-child {
border-top-left-radius: var(--curved);
border-bottom-left-radius: var(--curved);
}

.curved-input .ant-input-group-addon:last-child {
border-top-right-radius: var(--curved);
border-bottom-right-radius: var(--curved);
}

/* -------------- */

/* Textarea */
    
    .homenet-textarea {
        resize: vertical;
    }
    /* Form Scroll Bar */
    
    .scrollbar {
        overflow-y: scroll !important;
    }
    
    .scrollbar::-webkit-scrollbar {
        background-color: transparent;
        width: 16px;
    }
    
    .scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .scrollbar::-webkit-scrollbar-track:hover {
        background-color: transparent;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--input-border);
        border-radius: 16px;
        border: 5px solid #fff;
    }
    
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: var(--focus-border);
        border: 4.5px solid #fff;
    }
    
    .scrollbar.blue-input::-webkit-scrollbar-thumb {
        border: 5px solid var(--blue-input-bg);
    }
    
    .scrollbar.blue-input::-webkit-scrollbar-thumb:hover {
        border: 4.5px solid var(--blue-input-bg);
    }
    
    .scrollbar::-webkit-scrollbar-button {
        display: none
    }
    
    
    /* SELECT */

    /* *********** */
    
    .ant-select.homenet-select {
      font-size: 13.5px;
      font-weight: 600;
    }
    
    .ant-select.homenet-select input {
      font-size: 15px;
    }
    
    .homenet-select .ant-select-arrow,
    .homenet-select .ant-select-clear {
      right: 18px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    
    /* >>> Single Select and general <<< */

    .ant-select.homenet-select .ant-select-selection-placeholder {
      font-weight: 600;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      color: #343e5c;
    }
    
    .homenet-select.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector,.homenet-select.ant-select-multiple .ant-select-selector {
      border: 1px solid #d2d7df;
      -webkit-transition: box-shadow 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: box-shadow 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

  /* For inside input smaller than button */
    .homenet-select.xlarge-height.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      height: var(--input-height-xlg);
    }

    .homenet-select.large-height.ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    height: var(--input-height-lg);
  }

  .homenet-select.med-height.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
      height: var(--input-height-med);
}

  /* For Multiple Selector Height */

    .homenet-select.xlarge-height.ant-select-multiple .ant-select-selector {
      min-height: var(--input-height-xlg);
    }
    .homenet-select.large-height.ant-select-multiple .ant-select-selector {
      min-height: var(--input-height-lg);
    }

     /* For Selector Button Height */

    .homenet-select.ant-select-single
    .ant-select-selector
    .ant-select-selection-item,
  .homenet-select.ant-select-single
    .ant-select-selector
    .ant-select-selection-placeholder,
  .homenet-select.ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    line-height: 43px; 
    /* For Large and Xlarge line height */
    height: 100%;
    cursor: pointer;
  }

  .homenet-select.med-height.ant-select-single
  .ant-select-selector
  .ant-select-selection-item,
.homenet-select.med-height.ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder,
.homenet-select.med-height.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  line-height: var(--input-height-med);
}
    
    .homenet-select.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      padding: 0 20px;
    }
    
    .homenet-select.homenet-select-rnd.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector,
    .homenet-select.homenet-select-rnd.ant-select-multiple .ant-select-selector{
      border-radius: 100px;
    }
    
    .homenet-select.ant-select-multiple .ant-select-selection-search-input,
    .homenet-select.ant-select-multiple .ant-select-selection-placeholder{
        padding-left: 2%;
    }
    
    .ant-select-dropdown,
    .ant-select-selector {
      font-family: var(--font-second);
    }
    
    
    .homenet-select.ant-select-single .ant-select-selector .ant-select-selection-item,
    .homenet-select.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      text-align: center;
      padding-left: 18px;
    }
    
    .homenet-select.ant-select-single .ant-select-selector .ant-select-selection-item,
    .homenet-select.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      text-align: center;
    }
    
    .homenet-select.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector
      .ant-select-selection-search-input {
      padding-left: 13%;
    }
    
    .homenet-select .anticon-down svg {
      transform: scale(0.80, 0.55);
      stroke: #383838;
      stroke-width: 130;
      fill: #383838;
    }
    
    .homenet-select.ant-select-single.ant-select-show-search.ant-select-open .ant-select-arrow {
      left: 18px;
      right: initial;
    }
    
    .homenet-select .anticon-search svg {
      transform: scale(1.3, 1.3);
      stroke: #666;
      stroke-width: 12px;
      fill: #666;
    }
    
    .homenet-select .anticon-close-circle svg {
      transform: scale(1.7, 1.7);
      z-index: 2;
      fill: var(--homenet-no);
    }
    
    
    .homenet-select.curved.ant-select-multiple .ant-select-selector{
      border-radius: var(--curved);
    }
    
    .homenet-select.ant-select-show-search.ant-select-multiple .ant-select-selector {
        cursor: pointer;
    }
    
    .homenet-select.ant-select-multiple .ant-select-selection-item {
        height: 32px;
        border-radius: 50px !important;
        padding: 5px 14px;
    }
    
    
    .homenet-select.ant-select-multiple .ant-select-selector {
        overflow-y: scroll;
      }



    
    .homenet-select.ant-select-multiple .ant-select-selector::-webkit-scrollbar {
      display: none;
    }
    
    .homenet-select.ant-select-multiple.ant-select-show-arrow .ant-select-selector, .homenet-select.ant-select-multiple.ant-select-allow-clear .ant-select-selector {
        padding-left: 9px;
        padding-right: 36px;
    }
    
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      .homenet-select.ant-select .ant-select-clear {
          opacity: 1;
      }
    }
    
    /* For custom Styles in Separate Dropbox */
    .option-label-item > span {
      margin-right: 6px;
    }
    