.carousel-item {
    position: relative;
    min-height: 460px;
}

.carousel-item-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item:nth-child(1) {
    background: url('images/sport-slide-01.jpg') no-repeat center;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background: url('images/sport-slide-02.jpg') no-repeat center;
    background-size: cover;
}

.top-info-section {
    background: url('images/icon-info-bg.jpg') no-repeat top center;
    background-size: cover;
}

.top-info {
    z-index: 1;
    overflow: hidden;
}

.highlight-news .info-box-btn-inner a:last-child {
    margin-top: 1px;
}

.split-layout-img-1,
.split-layout-img-2 {
    overflow: hidden;
    height: 300px;
}

.split-layout-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
}

.split-layout-img-1 .split-layout-inner {
    background: url('images/product-01.jpg') no-repeat center;
    background-size: cover;
}

.split-layout-img-2 .split-layout-inner {
    background: url('images/product-02.jpg') no-repeat center;
    background-size: cover;
}

.section-subscribe {
    min-height: 400px;
    background: url('images/subscribe-section-bg.jpg') no-repeat center;
    background-size: cover;
}

@media (max-width: 767px) {
    .carousel-item .lead {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .carousel-item {
        min-height: 520px;
    }
    .split-layout-img-1,
    .split-layout-img-2 {
        height: 460px;
    }
}

@media (min-width: 992px) {
    .carousel-item .lead {
        letter-spacing: 1px;
    }
    .split-layout-img-1,
    .split-layout-img-2 {
        height: inherit;
    }
}

@media (min-width: 1200px) {
    .carousel-item {
        min-height: 700px;
    }
}