body {
    color: rgba(255, 255, 255, 0.5);
    background-color: #17202a;
}

.card-title a:hover,
.meta-entry-light-1 .meta-entry-item a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.page-header {
    background: url('images/hero-banner.jpg') no-repeat center;
    background-size: cover;
}

.navbar {
    z-index: 99999;
}

.page-header-inner {
    min-height: 460px;
}

.global-reach-section {
    background: url('images/global-reach-bg.jpg') no-repeat center;
    background-size: cover;
}

.new-releases .info-box-btn-inner .btn:last-child i {
    position: relative;
    left: 1px;
}

.split-layout-img-1,
.split-layout-img-2 {
    overflow: hidden;
    height: 300px;
}

.split-layout-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
}

.split-layout-img-1 .split-layout-inner {
    background: url('images/event-01.jpg') no-repeat center;
    background-size: cover;
}

.split-layout-img-2 .split-layout-inner {
    background: url('images/event-02.jpg') no-repeat center;
    background-size: cover;
}

.event-date i {
    position: relative;
    top: -2px;
}

.section-subscribe {
    min-height: 400px;
    background: url('images/subscribe-section-bg.jpg') no-repeat center;
    background-size: cover;
}

@media (min-width: 768px) {
    .page-header-inner {
        min-height: 520px;
    }
    .split-layout-img-1,
    .split-layout-img-2 {
        height: 460px;
    }
}

@media (min-width: 992px) {
    .navbar {
        background-color: transparent !important;
    }
    .member-2 {
        top: -70px;
    }
    .member-3 {
        top: -140px;
    }
    .split-layout-img-1,
    .split-layout-img-2 {
        height: inherit;
    }
}

@media (min-width: 1200px) {
    .page-header,
    .global-reach-section,
    .section-subscribe {
        background-attachment: fixed;
    }
    .page-header-inner {
        min-height: 700px;
    }
}