/* Subject Section Titles */

.section-title {
    color: var(--black_default);
    font-weight: 600;
    position: relative;
    font-size: 2.875rem;
}

.section-title .highlight {
    color: var(--primary-color);
}

.section-title:hover:after {
    width: 80px;
}

.section-title.title-divider {
    margin-bottom: 80px;
}

.white-section-title {
    color: #fff;
}

.white-section-title:after {
    background-color: #fff !important;
}


/* Content Page titles */

.content-page-title {
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 2.5625rem;
    letter-spacing: 0.10px;
}

.engage.content-page-title {
    font-size: 3rem;
    font-weight: 600;
}

.pg-header-elements {
    padding: 62px 73px;
}

@media (max-width: 991px) {

    .section-title,
    .content-page-title {
        font-size: 2.375rem;
    }
    .pg-header-elements {
        padding: 90px 68px;
    }
}

@media (max-width: 767px) {

    .section-title,
    .content-page-title {
        font-size: 2.1875rem;
    }

    .engage.content-page-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .pg-header-elements {
        padding: 90px 3%;
    }
}

@media (max-width: 575px) {

    .section-title,
    .content-page-title {
        font-size: 2.0625rem;
    }

    .pg-header-elements {
        padding: 90px 6%;
    }
}

.content-page-title .highlight {
    color: var(--primary-color);
    margin-left: 1px;
    font-size: 0.8em;
}

.section-title:hover:after {
    width: 100%;
    content: '';
}


/* White titles */
.white-section-title {
    color: #fff;
}

.white-section-title:after {
    background-color: #fff !important;
}


/* Title divider Style left and center class */
.title-divider-left:after {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--black_default);
    margin-top: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title-divider:after {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--black_default);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Title divider breadcrumb */

.title-breadcrumb:before {
    content: ' ';
    display: block;
    width: 55px;
    height: 1px;
    background-color: var(--white);
    margin-top: 20px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.engage.page-header .title-breadcrumb:before {
    margin-left: auto;
    margin-right: auto;
}


.title-breadcrumb.textcenter :before {
    margin-left: auto;
    margin-right: auto;
}

.title-breadcrumb .breadcrumb {
    padding: 0.8rem 1rem;
}

nav.title-breadcrumb:hover:before {
    width: 60%;
}

nav.title-breadcrumb,
nav.title-breadcrumb ol.breadcrumb,
nav.title-breadcrumb ol.breadcrumb li.breadcrumb-item {
    display: inline-block;
}

/* Content Page - Content Section headers */

.page-section-title {
    color: #5a6163;
    font-weight: 700;
    font-size: 1.375rem;
    letter-spacing: -0.6px;
    margin: 0.2em 0 1.3em 0;
    display: inline-block;
    line-height: 1.4em;
}

.page-section-title .highlight {
    color: var(--primary-color);
    margin-left: 2px;
    font-size: 0.9em;
}

.page-sub-title {
    color: #434a4c;
    font-weight: 600;
    font-size: 1.03125rem;
    letter-spacing: -0.3px;
    margin-bottom: 0.6em;
}


/* Content Page Header Decorations */

.wing-line-left::before {
    margin-right: 0.4rem;
}

.wing-line-right::after {
    margin-left: 0.4rem;
}

.bottom-line:after {
    content: ' ';
    display: block;
    width: 29px;
    height: 2px;
    background-color: rgba(0, 0, 0, .24);
    margin: 13px 0;
}

.wing-line-right::after,
.wing-line-left::before {
    display: inline-block;
    width: 15px;
    height: 2px;
    margin-bottom: .30em;
    content: "";
    background-color: rgba(0, 0, 0, .24);
}