/*
[Sections]

[1] Home page
[2] About Us (Modern)
[3] About Us (Creative)
[4] Team
[5] Contacts
*/

/* [1] Home page */
// About creative
.about-creative-section {
  .images-wrapper {
    margin-bottom: 40px;
    @media(max-width: $lg) {
      margin-bottom: 30px;
    }
    @media(max-width: $md) {
      margin-bottom: 20px;
    }
    .two-side {
      display: flex;
      @media(max-width: $lg) {
        display: none;
      }
    }
    .img-wrapper {
      overflow: hidden;
      border-radius: 5px;
    }
  }
  .steps-wrapper {
    .step-wrapper {
      margin-bottom: 30px;
      @media(max-width: $lg) {
        flex-direction: column;
      }
      @media(max-width: $sm) {
        flex-direction: row;
      }
      .num {
        color: $theme-color;
        font-weight: 400;
        line-height: 1;
        margin-right: 20px;
        font-size: 3.75rem;
        margin-bottom: 10px;
        text-align: left;
        @media(max-width: $md) {
          font-size: 3.375rem;
        }
        @media(max-width: $sm) {
          min-width: 75px;
          margin-right: 10px;
          font-size: 3rem;
        }
      }
      .step-body {
        padding-top: 5px;
        h6 {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 10px;
          line-height: 1;
          color: var(--heading-color);
          @media(max-width: $sm) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

// Digital services
.digital-services {
  .col {
    padding-right: 0;
    padding-left: 0;
  }
  .image {
    background-size: cover;
    background-position: center;
    display: flex;
    -webkit-box-flex: 0;
    @media(max-width: $lg) {
      height: 400px;
    }
    @media(max-width: $md) {
      height: 300px;
    }
  }
  .last-image {
    @media(max-width: $lg) {
      order: 2;
    }
  }
  .content {
    border-top: 1px solid var(--default-border);
    @media(max-width: $xl) {
      padding: 0;
    }
    .content-wrapper {
      padding: 130px 0 80px 0;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      @media(max-width: 1440px) {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding: 100px 0 50px 0;
      }
      @media(max-width: $xl) {
        width: 100%;
        padding: 60px 40px 30px 40px;
      }
      @media(max-width: $lg) {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 15px 20px 15px;
      }
      @media(max-width: $md) {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
      }
      .section-title {
        margin-bottom: 15px;
      }
      .subtitle {
        font-size: 0.9375rem;
        letter-spacing: 0.5px;
        position: relative;
        margin-bottom: 80px;
        line-height: 1;
        @media(max-width: $xl) {
          margin-bottom: 50px;
        }
        @media(max-width: $md) {
          margin-bottom: 30px;
        }
      }
    }
  }
  .content-about {
    display: flex;
    @media(max-width: $lg) {
      order: 1;
    }
    @media(max-width: $xl) {
      padding: 0;
    }
    .content-wrapper {
      padding: 130px 0;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      @media(max-width: 1440px) {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding: 100px 0;
      }
      @media(max-width: $xl) {
        width: 100%;
        padding: 60px 40px;
      }
      @media(max-width: $lg) {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 15px;
      }
      @media(max-width: $md) {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
      }
      .section-title {
        margin-bottom: 20px;
        @media(max-width: $md) {
          margin-bottom: 10px;
        }
      }
      .about-text {
        margin-top: 5px;
      }
      .btn-wrapper {
        margin-top: 40px;
        @media(max-width: $xl) {
          margin-top: 30px;
        }
        @media(max-width: $md) {
          margin-top: 20px;
        }
        a:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

// Project section
.projects-section {
  padding-top: 130px;
  @media(max-width: $xl) {
    padding-top: 100px;
  }
  @media(max-width: $lg) {
    padding-top: 80px;
  }
  @media(max-width: $md) {
    padding-top: 50px;
  }
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  .grid {
    position: relative;
    overflow: hidden;
    .grid-item {
      padding: 2px;
      width: 25%;
      @media(max-width: 1440px) {
        width: 33.3333333%;
      }
      @media(max-width: $lg) {
        width: 50%;
      }
      .img-wrapper {
        position: relative;
        overflow: hidden;
        img {
          transition: all 1s ease-in-out;
        }
        .description-box {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
          transform-style: preserve-3d;
          .content {
            width: 100%;
            height: 100%;
            padding: 30px 35px;
            @media(max-width: 1600px) {
              padding: 20px 25px;
            }
            @media(max-width: $md) {
              align-items: center !important;
              padding: 10px;
            }
            .content-wrapper {
              line-height: 1;
              width: 100%;
              @media(max-width: $md) {
                justify-content: center !important;
              }
              h6 {
                text-shadow: 1px 1px 1px var(--text-shadow-medium);
                color: $white;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all .4s ease-in-out;
                transform: translateZ(20px) scale(0);
                opacity: 0;
                display: flex;
                align-items: center;
                line-height: 1;
                @media(max-width: 1600px) {
                  font-size: 0.875rem;
                  letter-spacing: 0.5px;
                }
                @media(max-width: $xl) {
                  font-size: 0.75rem;
                }
                @media(max-width: $md) {
                  font-size: 0.9375rem;
                }
                @media(max-width: $sm) {
                  font-size: 0.75rem;
                }
              }
              .info {
                opacity: 0;
                transition: all .4s ease-in-out;
                transform: translateZ(20px) scale(0);
                display: flex;
                align-items: center;
                @media(max-width: $md) {
                  display: none;
                }
                span {
                  color: $white;
                  font-family: $font-secondary;
                  font-weight: 500;
                  font-size: 0.875rem;
                  letter-spacing: 1px;
                  @media(max-width: 1600px) {
                    font-size: 0.75rem;
                  }
                  i {
                    margin-left: 4px;
                  }
                  .fa-heart {
                    font-size: 0.875rem;
                    @media(max-width: 1600px) {
                      font-size: 0.75rem;
                    }
                  }
                  .fa-comments {
                    font-size: 0.9375rem;
                    @media(max-width: 1600px) {
                      font-size: 0.8125rem;
                    }
                  }
                }
                span:not(:last-child) {
                  margin-right: 25px;
                  @media(max-width: 1600px) {
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
      .img-wrapper:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(to bottom, $white, $theme-color);
        transition: all .35s ease-in-out;
        opacity: 0;
        transform: scale(0.9);
      }
      .img-wrapper:hover {
        img {
          transform: scale(1.2);
        }
        .description-box {
          .content {
            div {
              h6, .info {
                transform: translateZ(20px) scale(1);
                opacity: 1;
              }
            }
          }
        }
      }
      .img-wrapper:hover:after {
        opacity: 0.5;
        transform: scale(1);
      }
    }
  }
  .hover-out {
    transition: .2s ease;
  }
}

// Testimonials
.testimonials {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  .testimonials-wrapper {
    position: relative;
    z-index: 100;
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          padding: 70px 0;
          @media(max-width: $md) {
            padding: 70px 0 50px 0;
          }
          .review-wrapper {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            padding: 70px 60px 60px 60px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 1px 1px 10px 3px var(--box-shadow-medium);
            position: relative;
            @media(max-width: $xl) {
              width: 700px;
            }
            @media(max-width: $lg) {
              width: 650px;
              padding: 70px 50px 40px 50px;
            }
            @media(max-width: $md) {
              width: 510px;
              padding: 60px 20px 30px 20px;
            }
            @media(max-width: $sm) {
              width: 100%;
              padding: 60px 15px 20px 15px;
            }
            .img-wrapper {
              width: 100px;
              height: 100px;
              border-radius: 100%;
              overflow: hidden;
              position: absolute;
              z-index: 100;
              top: 0;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
              border: 3px solid var(--light-border);
              img {
                width: 100%;
                height: 100%;
              }
            }
            .client {
              text-align: center;
              font-weight: 600;
              font-size: 1.5rem;
              margin-bottom: 5px;
              line-height: 1;
              @media(max-width: $lg) {
                margin-bottom: 5px;
                font-size: 1.125rem;
              }
              @media(max-width: $md) {
                font-size: 1rem;
              }
            }
            .position {
              text-align: center;
              font-size: 0.75rem;
              color: var(--black_defaultr);
              font-weight: 500;
              letter-spacing: 0.5px;
              margin-bottom: 20px;
              line-height: 1;
              opacity: 0.7;
              @media(max-width: $lg) {
                margin-bottom: 10px;
              }
              @media(max-width: $md) {
                font-size: 0.6875rem;
              }
            }
            .review {
              text-align: center;
            }
          }
        }
      }
      .nav {
        display: flex;
        width: 1000px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        @media(max-width: $xl) {
          width: 900px;
        }
        @media(max-width: $lg) {
          width: 750px;
        }
        @media(max-width: $md) {
          display: none;
        }
        .swiper-button-prev-testimonials, .swiper-button-next-testimonials {
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          @media(max-width: $sm) {
            display: none;
          }
          i {
            transition: all .3s ease;
            font-size: 1.75rem;
            color: $white;
          }
        }
      }
    }
  }
}

// Recent Posts
.recent-posts {
  background-position: center;
  background-repeat: repeat;
  box-shadow: 0 5px 5px 1px var(--box-shadow-light);
  .blog-card-wrapper {
    @media(max-width: $lg) {
      margin-bottom: 30px;
    }
    .card-content {
      width: 100%;
      height: 100%;
      padding: 15px 15px 30px 15px;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 5px 7px 3px var(--box-shadow-light);
      @media(max-width: $xl) {
        padding: 15px 15px 25px 15px;
      }
      @media(max-width: $lg) {
        padding: 20px;
      }
      @media(max-width: $md) {
        padding: 15px;
      }
      .card-blog-header {
        margin-bottom: 30px;
        @media(max-width: $xl) {
          margin-bottom: 20px;
        }
        @media(max-width: $lg) {
          margin-bottom: 15px;
        }
        .img-wrapper {
          position: relative;
          img {
            transform: translateZ(20px);
            box-shadow: 0 3px 5px 2px var(--box-shadow-medium);
            @media(max-width: $lg) {
              box-shadow: none;
            }
          }
          .tag {
            box-shadow: 0 3px 10px var(--box-shadow-medium);
            transform: translateZ(40px);
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 101;
            padding: 8px 18px;
            line-height: 1;
            border-radius: 5px;
            font-family: $font-secondary;
            color: $white;
            font-size: 0.75rem;
            font-weight: 300;
            letter-spacing: 0.3px;
          }
        }
        .img-wrapper:hover {
          .read-more-btn {
            transform: translateZ(50px) scale(1);
            opacity: 1;
            @media(max-width: $xl) {
              transform: translateZ(20px) scale(1);
            }
          }
        }
      }
      .card-blog-body {
        padding: 0 15px;
        @media(max-width: $xl) {
          padding: 0 5px;
        }
        @media(max-width: $lg) {
          padding: 0;
        }
        h5 {
          transform: translateZ(25px);
          font-size: 1.375rem;
          font-weight: 600;
          margin-bottom: 10px;
          @media(max-width: $xl) {
            transform: translateZ(10px);
            font-size: 1.25rem;
          }
          @media(max-width: $lg) {
            margin-bottom: 7px;
          }
          a {
            transition: all .3s ease-in-out;
            color: var(--black_default);
          }
          a:hover {
            color: $theme-color;
          }
        }
        .content {
          transform: translateZ(25px);
          color: var(--black_default);
          padding-bottom: 20px;
          border-bottom: 1px solid var(--default-border);
          margin-bottom: 20px;
          @media(max-width: $xl) {
            transform: translateZ(10px);
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
          a {
            color: $theme-color;
            margin-left: 3px;
          }
        }
        .card-blog-footer {
          line-height: 1;
          p {
            line-height: 1;
            font-size: 0.75rem;
            font-weight: 500;
            transform: translateZ(25px);
            color: var(--black_default);
            font-family: $font-secondary;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            @media(max-width: $xl) {
              transform: translateZ(10px);
              font-size: 0.6875rem;
            }
          }
          i {
            margin-right: 5px;
            color: $theme-color;
          }
          .fa-calendar-o {
            font-size: 0.75rem;
            @media(max-width: $xl) {
              font-size: 0.6875rem;
            }
          }
          .fa-comments-o {
            font-size: 0.9375rem;
            @media(max-width: $xl) {
              font-size: 0.875rem;
            }
          }
          .fa-heart-o {
            font-size: 0.8125rem;
            @media(max-width: $xl) {
              font-size: 0.75rem;
            }
          }
          .info {
            span:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
  .hover-in {
    transition: .1s ease;
  }
  .hover-out {
    transition: .3s ease;
  }
}

/* [2] About Us (Modern) */
// Skills section
.skills-section {
  .image {
    background-size: cover;
    background-position: center;
    display: flex;
    @media(max-width: $lg) {
      height: 400px;
    }
    @media(max-width: $md) {
      height: 300px;
    }
  }
  .skills-wrapper {
    padding: 130px 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 1440px) {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
      padding: 100px 0;
    }
    @media(max-width: $xl) {
      width: 100%;
      padding: 60px 15px;
    }
    @media(max-width: $lg) {
      padding: 50px 15px;
    }
    @media(max-width: $md) {
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 0;
    }
    .section-title {
      margin-bottom: 5px;
    }
    .subtitle {
      margin-bottom: 60px;
      @media(max-width: $md) {
        margin-bottom: 40px;
      }
      @media(max-width: $sm) {
        margin-bottom: 30px;
      }
    }
    .progress-bar-type-1 {
      width: 100%;
      .progress-bar-line {
        width: 100%;
        position: relative;
        .progress-bar-title {
          line-height: 1;
          color: var(--heading-color);
          font-size: 0.75rem;
          font-weight: 600;
          position: relative;
          bottom: 0;
        }
        .progressbar-text {
          position: absolute;
          top: -2px;
          right: 0;
          font-weight: 600;
          font-size: 0.75rem;
          color: var(--heading-color) !important;
          font-family: $font-secondary;
        }
        svg {
          border-radius: 5px;
        }
      }
      .progress-bar-line:not(:last-child) {
        margin-bottom: 40px;
        @media(max-width: $md) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* [3] About Us (Creative) */
// About two side content
.about-two-side-content {
  .content-side {
    background-repeat: repeat;
    .content-wrapper {
      padding: 130px 0 100px 0;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      @media(max-width: 1440px) {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding: 100px 0 70px 0;
      }
      @media(max-width: $xl) {
        width: 100%;
        padding: 60px 40px 30px 40px;
      }
      @media(max-width: $lg) {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 15px 20px 15px;
      }
      @media(max-width: $md) {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      }
      @media(max-width: $sm) {
        max-width: 100%;
      }
      .title {
        font-weight: 600;
        margin-bottom: 60px;
        color: $white;
        @media(max-width: $lg) {
          margin-bottom: 40px;
          font-size: 1.875rem;
        }
        @media(max-width: $md) {
          margin-bottom: 30px;
          font-size: 1.75rem;
        }
      }
      .content {
        margin-bottom: 40px;
        @media(max-width: $md) {
          margin-bottom: 30px;
        }
        h6 {
          margin-bottom: 5px;
          color: $white;
          opacity: 0.9;
          letter-spacing: 0.5px;
          i {
            margin-right: 10px;
            color: $theme-color;
          }
        }
        p {
          color: var(--gray-default-font);
        }
      }
    }
  }
}

// Tabs Creative
.tabs-creative {
  .img-wrapper {
    @media(max-width: $lg) {
      margin-bottom: 30px;
    }
    @media(max-width: $md) {
      margin-bottom: 15px;
    }
  }
  .tabs-body-wrapper {
    .description {
      @media(max-width: $lg) {
        text-align: center;
      }
    }
  }
}

// Creative about section
.creative-about {
  .cards-wrapper {
    margin-bottom: 30px;
  }
  .section-heading {
    margin-bottom: 60px;
    @media(max-width: $xl) {
      margin-bottom: 40px;
    }
    @media(max-width: $lg) {
      margin-bottom: 30px;
    }
    h2, p {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    h2 {
      font-weight: 600;
      @media(max-width: $lg) {
        font-size: 1.75rem;
      }
      @media(max-width: $md) {
        font-size: 1.625rem;
      }
      @media(max-width: $sm) {
        font-size: 1.375rem;
      }
    }
    p {
      margin-top: 10px;
    }
  }
}

/* [3] Services */
// Services about
.services-about {
  .img-wrapper {
    position: relative;
    img {
      border-radius: 5px;
    }
    .popup-modal {
      position: absolute;
    }
  }
  .content-wrapper {
    margin-top: 30px;
    @media(max-width: $md) {
      margin-top: 20px;
    }
    .service-wrapper {
      @media(max-width: $lg) {
        margin-bottom: 30px;
      }
      @media(max-width: $md) {
        margin-bottom: 20px;
      }
      .up-text {
        color: $theme-color;
        font-weight: 400;
        line-height: 1;
        opacity: 0.9;
        letter-spacing: 0.7px;
        font-family: $font-secondary;
      }
      .title {
        margin-bottom: 10px;
        font-size: 1.125rem;
        font-weight: 500;
        @media(max-width: $lg) {
          margin-bottom: 5px;
        }
      }
      p {
        position: relative;
      }
    }
  }
}

// Services cards
.services-cards-section {
  background-attachment: fixed;
  background-repeat: repeat;
  .card-wrapper {
    box-shadow: 0 2px 15px var(--box-shadow-light);
    border-radius: 4px;
    overflow: hidden;
    .img-wrapper {
      overflow: hidden;
      .image-popup {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          transition: all .3s ease-in-out;
        }
      }
      .plus {
        position: absolute;
        z-index: 12;
        font-size: 1.125rem;
        color: $white;
        opacity: 0;
        transform: scale(0.6);
        transition: all .4s ease-in-out;
      }
    }
    .image-popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 13;
      display: block;
    }
    .image-popup:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33, 0.5);
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      opacity: 0;
      z-index: 11;
    }
    .card-service-body {
      padding: 35px 20px;
      background-color: $white;
      margin-bottom: 30px;
      border-bottom: 2px solid $theme-color;
      h6 {
        font-weight: 600;
        font-size: 1.125rem;
        margin-bottom: 5px;
        text-align: center;
        color: var(--black_default);
      }
      p {
        text-align: center;
      }
    }
  }
  .card-wrapper:hover {
    .img-wrapper {
      .plus {
        opacity: 1;
        transform: scale(1);
      }
      .image-popup {
        img {
          transform: scale(1.15) rotate(5deg);
        }
      }
      .image-popup:after {
        opacity: 1;
      }
    }
  }
  .btn-wrapper {
    margin-top: 40px;
    margin-bottom: 30px;
    @media(max-width: $lg) {
      margin-top: 20px;
    }
    @media(max-width: $md) {
      margin-top: 0;
    }
    a {
      box-shadow: 0 2px 4px var(--box-shadow-medium);
    }
  }
}

// Services grid
.services-grid {
  .image {
    background-size: cover;
    background-position: center;
    display: flex;
    @media(max-width: $lg) {
      height: 400px;
    }
    @media(max-width: $md) {
      height: 300px;
    }
  }
  .content {
    .content-wrapper {
      padding: 130px 0;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      @media(max-width: 1440px) {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding: 100px 0;
      }
      @media(max-width: $xl) {
        width: 100%;
        padding: 60px 15px;
      }
      @media(max-width: $lg) {
        max-width: 690px;
        padding: 60px 0;
      }
      @media(max-width: $md) {
        padding: 50px 0;
        max-width: 510px;
      }
      h4 {
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 1.75rem;
      }
      p {
        margin-bottom: 25px;
      }
    }
    .left-align-content {
      h4 {
        text-align: left;
      }
      p {
        text-align: left;
      }
      .btn-wrap {
        justify-content: flex-start;
      }
    }
    .right-align-content {
      h4 {
        text-align: right;
        @media(max-width: $lg) {
          text-align: left;
        }
      }
      p {
        text-align: right;
        @media(max-width: $lg) {
          text-align: left;
        }
      }
      .btn-wrap {
        justify-content: flex-end;
        @media(max-width: $lg) {
          justify-content: flex-start;
        }
      }
    }
  }
  .resposive-content {
    @media(max-width: $lg) {
      order: 2;
    }
  }
  .resposive-image {
    @media(max-width: $lg) {
      order: 1;
    }
  }
}

/* [4] Team */
// About Person
.about-person {
  .about-person-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    .image-wrapper {
      @media(max-width: $lg) {
        margin-bottom: 30px;
      }
      @media(max-width: $sm) {
        margin-bottom: 15px;
      }
    }
    .name {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .position {
      opacity: 0.7;
      font-weight: 500;
    }
    .description {
      margin-top: 20px;
      @media(max-width: $lg) {
        margin-top: 10px;
      }
    }
    .btn-wrapper {
      margin-top: 20px;
    }
  }
}

/* [5] Contacts */
// Contacts grid
.contacts-grid {
  .grid-item {
    padding: 150px 50px;
    @media(max-width: $xl) {
      padding: 60px 20px;
    }
    @media(max-width: $lg) {
      padding: 80px 20px;
    }
    @media(max-width: $sm) {
      padding: 50px 10px;
    }
    .content {
      h3 {
        text-align: center;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 15px;
      }
      .contact {
        transition: all .2s ease-in-out;
        text-align: center;
        color: var(--black_default);
        line-height: 1;
        font-size: 0.875rem;
        @media(max-width: $lg) {
          font-size: 0.8125rem;
        }
        @media(max-width: $md) {
          font-size: 0.75rem;
        }
      }
      .contact:not(:last-child) {
        margin-bottom: 10px;
        @media(max-width: $md) {
          margin-bottom: 5px;
        }
      }
      a:hover {
        color: $theme-color;
      }
    }
    .white {
      h3 {
        color: $white;
      }
      .contact {
        color: $white;
      }
    }
  }
  .grid-item:not(:last-child) {
    border-right: 1px solid var(--default-border);
    @media(max-width: $md) {
      border-right: none;
      border-bottom: 1px solid var(--default-border);
    }
  }
}

// Contact form section
.contact-form-section {
  padding: 150px 15px;
  @media(max-width: $xl) {
    padding: 100px 15px;
  }
  @media(max-width: $lg) {
    padding: 80px 15px;
  }
  @media(max-width: $md) {
    padding: 50px 15px;
  }
  .heading {
    position: relative;
    z-index: 100;
  }
  .contact-wrapper {
    position: relative;
    z-index: 100;
    .primary-contact-form {
      width: 100%;
      .input-row {
        display: flex;
        @media(max-width: $sm) {
          flex-direction: column;
        }
        input {
          width: 50%;
          @media(max-width: $sm) {
            width: 100%;
          }
        }
        input:first-child {
          margin-right: 5px;
          @media(max-width: $sm) {
            margin-right: 0;
          }
        }
        input:last-child {
          margin-left: 5px;
          @media(max-width: $sm) {
            margin-left: 0;
          }
        }
      }
      input {
        margin-bottom: 10px;
      }
      input, textarea {
        padding: 15px 20px;
        color: $white;
        background-color: rgba($black, 0.2);
        border: 1px solid var(--default-border);
      }
      textarea {
        height: 200px;
        resize: none;
        margin-bottom: 40px;
        @media(max-width: $sm) {
          margin-bottom: 30px;
        }
      }
      ::placeholder {
        color: rgba($white, 0.7);
      }
    }
  }
}

// Map section
.map-section {
  .toggle-map {
    width: 100%;
    height: 80px;
    background-color: var(--gray-section);
    cursor: pointer;
    position: relative;
    z-index: 101;
    p {
      text-transform: uppercase;
      color: var(--black_default);
      font-weight: 500;
      font-family: $font-secondary;
      margin-bottom: 5px;
    }
    i {
      font-size: 1rem;
    }
  }
  .hide, .show {
    display: none;
  }
  .active {
    display: flex !important;
  }
  #map {
    position: relative;
    z-index: 100;
    height: 500px;
    width: 100%;
    @media(max-width: $md) {
      height: 400px;
    }
  }
}

// Follow us section
.follow-us-section {
  .social-box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    transition: all .3s linear;
    i {
      font-size: 1rem;
    }
    @media(max-width: $lg) {
      width: 40px;
      height: 40px;
      i {
        font-size: 0.875rem;
      }
    }
    @media(max-width: $md) {
      width: 35px;
      height: 35px;
    }
  }
  .social-box:hover {
    transform: scale(1.1);
  }
  .social-box:not(:last-child) {
    margin-right: 35px;
    @media(max-width: $lg) {
      margin-right: 25px;
    }
    @media(max-width: $md) {
      margin-right: 15px;
    }
  }
}


