/*
################
General
################
*/

body {
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #111;
	font-style: normal;
	margin: 0 auto;
	text-align: left;
	width: 900px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #b6dcde;
}
p {
	letter-spacing: 0.01px;
	font-size: 16px;
	line-height: 23px;
	color: #111;
	font-style: normal;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
#font2 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#zh {
	font-family: 'Noto Serif SC', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

/*
################
Icons CSS example
################
*/

.listing_bg {
	background-color: #fff;
}
.inactive_cur {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.28;
}

p.label {
	margin: 2em 0% 2em 0%;
	border-style: solid;
	border-color: rgba(51, 51, 51, 0.87);
	text-align: center;
	padding: 3% 0% 3% 0%;
	font-size: 19px;
	color: rgba(51, 51, 51, 1);
	width: 100%;
	font-style: italic;
}